.navbar {
    margin-bottom:0 !important;
}

#map {
    height:100%;
    position:fixed;
    width:100%;
}

#nodeform {
    width:35%;
    top:10%;
    left:50%;
    margin-left:-17.5%;
    position:absolute;
    z-index:5000;
    display:none;
}

#messagebox {
    z-index:500000;
    position:absolute;
    width:80%;
    padding:0;
    left:50%;
    margin-left:-40%;
}

#messagebox p {
    opacity:0.95;
    text-align:center;
}

.close-link {
    display:block;
    text-align:right;
    color:#000000;
    padding:10px 10px 0px 0px;
}

.close-link:hover,
.close-link:focus {
    color:#ab0000;
    cursor:pointer;
}

.panel-heading h2 {
    margin-top:0;
}

.private {
    background:rgba(255, 150, 150, 0.5);
    border-radius:10px;
}

.crosshair {
    cursor: crosshair !important;
}

.leaflet-popup-content h2 {
    font-size:1.2em;
    font-weight:bold;
}

.leaflet-popup-content nav {
    margin-top:10px;
}

.leaflet-popup-content .btn {
    padding:3px 6px;
    color:#000;
}

.leaflet-popup-content .popup_info {
    font-size:.8em;
}

.marker_icon {
    max-height:25px;
    max-width:25px;
}

#loading {
    height:100%;
    width:100%;
    position:fixed;
    z-index:9999;
    background:rgba(30, 30, 30, 0.7);
}

.lds-dual-ring {
    display: inline-block;
    position:relative;
    width: 64px;
    height: 64px;
    left:50%;
    top:50%;
    margin-left:-32px;
    margin-top:-32px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#bottom-menu {
    position:fixed;
    display:block;
    width:100%;
    padding:10px;
    bottom:0;
}

#btn-cancel-add-node {
    display:none;
}

#bottom-menu .btn-left {
    float:left;
}

#bottom-menu .btn-right {
    float:right;
}

#location-list {
    position:fixed;
    width:250px;
    max-width:250px;
    height:100%;
    padding:10px 0 10px 10px;
    border-right:10px solid #ccc;
    background:#fff;
    overflow-y:auto;
    display:none;
    z-index:50;
}

#location-list #locations {
    list-style: none;
    margin:0;
    padding:0;
}

#location-list input {
    display:block;
    width:90%;
    font-size:.8em;
}

#location-list #locations li.category {
    font-weight:bold;
    line-height:20px;
    margin-top:10px;
    border-bottom:1px solid #ccc;
}

#location-list #locations li.category img {
    max-height:20px;
    max-width:20px;
}

#location-list #locations li.location {
    padding-left:10px;
}

#location-list #locations li.location.invis {
    /*background:rgba(255, 150, 150, 0.3);*/
    color:#ab5555;
    font-style:italic;
}

#location-list #locations li.location:hover {
    cursor: pointer;
    background:#ccc;
}

#location-list .close-link-sidebar {
    color:#000;
    position:absolute;
    top:5px;
    right:5px;
}

#location-list .close-link-sidebar:hover,
#location-list .close-link-sidebar:focus {
    color:#ab0000;
    cursor:pointer;
}