.custom-markdown {
    border-left:7px #ccc solid;
    padding:1em;
}

.custom-markdown h1 {
    margin-top:14px;
    font-size:1.7em;
}

.custom-markdown h2 {
    font-size:1.5em;
}

.custom-markdown h3 {
    font-size:1.3em;
}

.partymember-select {
    width:80% !important;
}

.phb-style h1,
.phb-style h2,
.phb-style h3 {
    color: #58180d;
}

.phb-style h2,
.phb-style h3 {
    border-bottom:2px solid #c9ad6a;
}

.phb-style {
    border-left-color:#58180d;
    background:#eee9d3;
}

.phb-style a,
.phb-style a:focus,
.phb-style a:active {
    color:#58180d;
    text-decoration:underline;
}

.container ul.nav-tabs {
    margin-bottom:10px;
}

ul.nav-tabs li span.glyphicon {
    color: #000 !important;
}