#wrapper {
    display:flex;
    align-items: stretch;
    width:100%;
}

#sidebar-wrapper {
    position:relative;
    width:250px;
    height:100%;
    flex-shrink:0;
    padding-left:10px;
}

#content-wrapper {
    position:relative;
    padding:0 200px 10px 100px;
    flex-grow:1;
}

#sidebar-wrapper .nav > li > a {
    padding:2px 10px;
}

#sidebar-wrapper h2 {
    font-size:1.2em;
    padding-left:5px;
    border-bottom:1px solid #ddd;
}

#sidebar-wrapper a {
    color:#333;
}

#sidebar-wrapper a:hover {
    color:#000;
}

#sidebar-wrapper .active a,
#sidebar-wrapper .active a:hover,
#sidebar-wrapper .active a:focus {
    background:#ddd !important;
    font-weight:bold;
}

#sidebar-wrapper li ul li {
    padding-left:15px;
}

#sidebar-wrapper li.invis a {
    color:#ab0000;
    font-style:italic;
}

.invis-warn {
    margin-top:15px;
}

label[for=searchterm] {
    display:none;
}