*.pyc
app/*.pyc
*.db
app.db*
*.sh
!devtools/*.sh
venv/
data/map/*
!data/map/.gitkeep
data/media/*
!data/media/.gitkeep
!data/media/thumbnails
data/media/thumbnails/*
!data/media/thumbnails/.gitkeep
data/mapnodes/*
!data/mapnodes/village.png
!data/mapnodes/town.png
!data/mapnodes/city.png
!data/mapnodes/capital.png
!data/mapnodes/poi.png
!data/mapnodes/quest.png
!data/mapnodes/note.png
!data/mapnodes/ruins.png
__pycache__
