*.pyc
app/*.pyc
*.db
*.sh
migrations/
data/map/*
!data/map/.gitkeep
data/mapnodes/*
!data/mapnodes/village.png
!data/mapnodes/town.png
!data/mapnodes/city.png
!data/mapnodes/capital.png
!data/mapnodes/poi.png
!data/mapnodes/quest.png
!data/mapnodes/note.png
