*.pyc
app/*.pyc
*.db
app.db*
*.sh
!devtools/*.sh
!entrypoint.sh
venv/
data/map/*
!data/map/.gitkeep
data/media/*
!data/media/.gitkeep
!data/media/thumbnails
data/media/thumbnails/*
!data/media/thumbnails/.gitkeep
data/mapnodes/*
!data/mapnodes/.gitkeep
data/logos/*
!data/logos/.gitkeep
data/logos/thumbnails/*
!data/logos/thumbnails
!data/logos/thumbnails/.gitkeep
__pycache__
config/user_config.py
config/debug_config.py
