{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor', 'multi-select']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor', 'multi-select', 'quicksearch', 'util']) }}

<script>
{% include "sidebars.js" %}
makeMarkdownEditor("description");

makeMultiSelect("associated_parties", "Available", "Parties", "partymember-select", onSelectParty, onDeselectParty);
/* member_select is referenced by on(De)SelectParty */
member_select = makeMultiSelect("default_participants", "Available", "Participants", "partymember-select");
</script>
{% endblock %}

{% block app_content %}
    <h1>Create New Campaign</h1>

    {{ wtf.render_form(form) }}
{% endblock %}