{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor', 'multi-select']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor', 'multi-select', 'quicksearch']) }}

<script>
{% include "sidebars.js" %}
makeMarkdownEditor("description");

{% if current_user.is_dm_of(campaign) %}
makeMarkdownEditor("dm_notes");
{% endif %}

function onSelectParty(id) {
    var name = $("#associated_parties option[value=" + id + "]").text();

    if (name) {
        var unselected_members = $("#default_participants optgroup[label='" + name + "'] option").not(":selected");

        if (unselected_members.length > 0) {
            if (confirm("Do you want to add the party members of '" + name + "' to the default participants?")) {
                $(unselected_members).each(function() {
                    member_select.multiSelect('select', $(this).attr("value"));
                });
            }
        }
    }
}

function onDeselectParty(id) {
    var name = $("#associated_parties option[value=" + id + "]").text();

    if (name) {
        var selected_members = $("#default_participants optgroup[label='" + name + "'] option:selected");

        if (selected_members.length > 0) {
            if (confirm("Do you want to remove the party members of '" + name + "' from the default participants?")) {
                $(selected_members).each(function() {
                    member_select.multiSelect('deselect', $(this).attr("value"));
                });
            }
        }
    }
}

parties_select = makeMultiSelect("associated_parties", "Available", "Parties", "partymember-select", onSelectParty, onDeselectParty);
member_select = makeMultiSelect("default_participants", "Available", "Participants", "partymember-select");
</script>
{% endblock %}

{% block app_content %}
    <h1>Edit Campaign</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}