{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables', 'moment']) }}

<script>
{% if campaigns %}
makeDatatable("campaigns-table");
{% endif %}
</script>
{% endblock %}

{% block app_content %}
    <h1>Campaigns
    {% if campaigns %}
    ({{ campaigns|length }})
    {% endif %}
    </h1>

    {% if current_user.has_admin_role() %}
    {{ navbar_start() }}
         {{ button_nav(url=url_for('campaign.create'), text="Add Campaign", icon="plus") }}
    {{ navbar_end() }}
    {% endif %}

    <p>
        This page shows all available campaigns.
    </p>

    {% if campaigns %}
    <table class="table table-hover table-striped" id="campaigns-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>DM</th>
                <th>Sessions</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for campaign in campaigns %}
            <tr style="border-left:7px solid {{ campaign.color }}">
                <td>{{ campaign.name }}</td>
                <td>{{ campaign.dm.view_link() }}</td>
                {# <td>{{ moment(session.date).format(current_user.dateformat) }} ({{ moment(session.date).fromNow() }})</td>#}
                <td>{{ campaign.sessions|length }}</td>
                <td>
                    {{ campaign.view_button() }}
                    {% if campaign.is_editable_by_user() %}
                    {{ campaign.edit_button() }}

                    {{ button(url=url_for('session.create_with_campaign', id=campaign.id), text="Add Session", icon="plus") }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No campaigns yet.</p>
    {% endif %}
{% endblock %}