{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables', 'moment']) }}

<script>
{% if campaign.sessions %}
makeDatatable("sessions-table", { has_dates: true });
{% endif %}
</script>
{% endblock %}

{% block app_content %}
<h1>{{ campaign.name }}</h1>

{{ navbar_start() }}
    {{ button_nav(url=url_for('campaign.timeline', id=campaign.id, name=campaign.name|urlfriendly), text="View Timeline", icon="stream") }}
{% if campaign.is_editable_by_user() %}
    {{ button_nav(url=url_for('session.create_with_campaign', id=campaign.id), text="Add Session", icon="plus") }}
    {{ campaign.edit_button_nav(text="Edit Campaign") }}
{% endif %}
{{ navbar_end() }}

<div class="card p-3 mb-3">
    <div class="row align-items-center">
        <div class="col-sm-3 text-center">
            <figure class="figure">
                <img class="thumbnail img-thumbnail lightbox-img" src="{{ campaign.profile_picture_url() }}" data-title="Campaign Logo" />
            </figure>
        </div>
        <dl class="row col-sm-9">
            <dt class="col-sm-3">DM</dt>
            <dd class="col-sm-9">{{ campaign.dm.view_link() }}</dd>
            <dt class="col-sm-3">Sessions</dt>
            <dd class="col-sm-9">{{ campaign.sessions|length }}</dd>
            <dt class="col-sm-3">Color</dt>
            <dd class="col-sm-9"><span style="color:{{ campaign.color }};">█</span></dd>
        </dl>
    </div>
</div>

<h2>
Associated Parties
{% if campaign.associated_parties %}
({{ campaign.associated_parties|length }})
{% endif %}
</h2>
{% if campaign.associated_parties %}
<div class="row mb-4">
    {% for party in campaign.associated_parties %}
        {{ party.infobox() }}
    {% endfor %}
</div>
{% else %}
<p>No associated parties.</p>
{% endif %}

<h2>
Default Participants
{% if campaign.default_participants %}
({{ campaign.default_participants|length }})
{% endif %}
</h2>
{% if campaign.default_participants %}
<div class="row mb-4">
    {% for member in campaign.default_participants %}
        {{ member.infobox() }}
    {% endfor %}
</div>
{% else %}
<p>No default participants.</p>
{% endif %}

{% if campaign.description %}
<h2>Description</h2>
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ campaign.description|markdown }}
    </div>
{% else %}
<p>No description.</p>
{% endif %}

{% if current_user.is_dm_of(campaign) %}
    {% if campaign.dm_notes %}
    <hr>
    <h2>DM Notes</h2>
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ campaign.dm_notes|markdown }}
    </div>
    {% endif %}
{% endif %}

<h2>Sessions
{% if campaign.sessions %}
({{ campaign.sessions|length }})
{% endif %}
</h2>

{% if campaign.sessions %}
<table class="table table-hover table-striped" id="sessions-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Participants</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for session in campaign.sessions|reverse %}
        <tr>
            <td>{{ session.view_text() }}</td>
            <td>{{ moment(session.date).format(current_user.dateformat) }} ({{ moment(session.date).fromNow() }})</td>
            <td>
                {% if session.participants %}
                    {% for p in session.participants %}
                        {% if loop.index != 1 %}
                            &bullet;
                        {% endif %}

                        {% if p.player.id == current_user.id %}
                            {{ p.view_link(classes="own-char") }}
                        {% else %}
                            {{ p.view_link() }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {{ session.view_button() }}
                {% if session.is_editable_by_user() %}
                {{ session.edit_button() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No sessions in this campaign yet.</p>
{% endif %}

{{ campaign.print_info() }}
{% endblock %}