.active a,
.active a:hover,
.active a:focus {
    background:#ddd !important;
    font-weight:bold;
}

li.invis a {
    color:#ab0000 !important;
    font-style:italic;
}

.invis-warn {
    margin-top:15px;
}

label[for=searchterm] {
    display:none;
}

.flex-column a:hover {
    background:#eee;
}