{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['simplemde', 'multi-select']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['simplemde', 'multi-select']) }}

<script>
{% include "simplemde.js" %}
var simplemde = new SimpleMDE(generateSMDEConfig("description"));

var simplemde = new SimpleMDE(generateSMDEConfig("dm_notes"));

$("#members").multiSelect( { keepOrder: true, selectableHeader: "Non-party characters", selectionHeader: "Party members", cssClass: "partymember-select" });
</script>
{% endblock %}

{% block app_content %}
    <h1>Create new party</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}