{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js"></script>

<script>
var tb = ["bold", "italic", "heading-1", "heading-2", "heading-3", "|", "quote", "unordered-list", "ordered-list", "|", "link", "image", "table", "horizontal-rule", "|", "side-by-side", "fullscreen", "guide"]

var simplemde = new SimpleMDE({
    element: document.getElementById("description"),
    toolbar: tb,
    spellChecker: false,
    status: false
});

var simplemde2 = new SimpleMDE({
    element: document.getElementById("dm_notes"),
    toolbar: tb,
    spellChecker: false,
    status: false
});

$("#members").multiSelect( { keepOrder: true, selectableHeader: "Non-party characters", selectionHeader: "Party members", cssClass: "partymember-select" });
</script>
{% endblock %}

{% block app_content %}
    <h1>Create new party</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}