{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['simplemde', 'multi-select']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['simplemde', 'multi-select', 'quicksearch']) }}

<script>
{% include "simplemde.js" %}
var simplemde = new SimpleMDE(generateSMDEConfig("description"));

var simplemde = new SimpleMDE(generateSMDEConfig("dm_notes"));

var filter = $('<input type="text" class="search-filter" autocomplete="off" placeholder="filter" id="members-filter">')

filter.insertAfter("label[for=members]");

$("#members").multiSelect({
    keepOrder: true,
    selectableHeader: "Non-party characters",
    selectionHeader: "Party members",
    cssClass: "partymember-select",
    selectableOptgroup: true,
    afterInit: function(ms){
        var searchString = '#' + this.$container.attr('id')+' .ms-elem-selectable:not(.ms-selected)'
        searchString += ', #' + this.$container.attr('id')+' .ms-elem-selection.ms-selected';
        this.filt = filter.quicksearch(searchString)
    },
    afterSelect: function(){
        this.filt.cache();
    },
    afterDeselect: function(){
        this.filt.cache();
    }
});
</script>
{% endblock %}

{% block app_content %}
    <h1>Edit party</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}