{% extends "base.html" %}

{% block scripts %}
{{ super() }}

{{ include_js(['moment', 'util']) }}

<script type="text/javascript">
{% if party.is_deletable_by_user() %}
    $(document).ready(function() {
        makeDeleteLink("delete-link", "{{ party.name }}");
    });
{% endif %}
</script>
{% endblock %}

{% block app_content %}
<h1>{{ party.name }}</h1>

{% if party.is_editable_by_user() or party.is_deletable_by_user() %}
{{ navbar_start() }}
    {% if party.is_editable_by_user() %}
    {{ party.edit_button_nav() }}
    {% endif %}

    {% if party.is_deletable_by_user() %}
        {{ party.delete_button_nav() }}
    {% endif %}
{{ navbar_end() }}
{% endif %}

<div class="card p-3 mb-5">
    <div class="row align-items-center">
        <div class="col-sm-3 text-center">
            <figure class="figure">
                <img class="thumbnail img-thumbnail lightbox-img" src="{{ party.profile_picture_url() }}" data-title="Party Logo" />
            </figure>
        </div>
        <div class="col-md-9">
            <div class="row">
                {% if party.members %}
                    {% for member in party.members %}
                        {{ member.infobox() }}
                    {% endfor %}
                {% else %}
                <p>This party has no members.</p>
                {% endif %}
            </div>

            {% if party.associated_campaigns %}
            <hr />
            <div class="row">
            {% for campaign in party.associated_campaigns %}
                {{ campaign.infobox() }}
            {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% if party.description %}
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ party.description|markdown }}
    </div>
{% else %}
<p>No description.</p>
{% endif %}

{{ party.print_info() }}
{% endblock %}