{% extends "base.html" %}

{% block scripts %}
{{ super() }}

{{ include_js(['moment']) }}

<script type="text/javascript">
{% if current_user.has_admin_role() %}
    $(document).ready(function() {
        $("#delete-link").click(function(e) {
            var p = confirm("Are you sure you want to delete '{{ party.name }}'?");

            if (!p) {
                e.preventDefault();
            }
        });
    });
{% endif %}
</script>
{% endblock %}

{% block app_content %}
<h1>{{ party.name }}</h1>

{% if current_user.has_char_in_party(party) or current_user.has_admin_role() %}
{{ navbar_start() }}
    {{ party.edit_button_nav() }}

    {% if current_user.has_admin_role() %}
        {{ party.delete_button_nav() }}
    {% endif %}
{{ navbar_end() }}
{% endif %}

{% if party.description %}
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ party.description|markdown }}
    </div>
{% else %}
<p>No description.</p>
{% endif %}

<h2>Members</h2>
{% if party.members %}
<ul class="list-unstyled">
    {% for member in party.members %}
    <li>
        {{ member.view_link() }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No members.</p>
{% endif %}

{% if current_user.has_admin_role() and party.dm_notes %}
<h2>DM Notes</h2>
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ party.dm_notes|markdown }}
</div>
{% endif %}

{{ party.print_info() }}
{% endblock %}