{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='map.css') }}">
{{ include_css(['leaflet', 'bootstrap-select', 'markdown-editor']) }}
{% endblock %}

{% block content %}
  <div id="loading">
    <div class="lds-dual-ring"></div>
  </div>

  <div id="map" class="map">
  </div>

  {% include "markdown_editor_sidebar.html" %}

  <div id="messagebox"></div>

  <div class="modal" data-backdrop="static" id="nodeform">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content" id="nodeform_content">
          test
        </div>
    </div>
  </div>

  <div id="location-list">
    <a class="close-link-sidebar">
      {{ icon("times") }}
    </a>
    <input type="text" id="filter_locations" placeholder="filter" />
    <ul id="locations"></ul>
  </div>

  <span id="worldname" class="btn btn-primary">
    {{ map_.name }}
  </span>

  {{ button(url="#", text="Location List", icon="list", classes="btn-primary me-auto", ids="btn-loc-sidebar") }}

  <div id="bottom-right-buttons">
    {{ button(url="#", text="Add Location", icon="plus", classes="btn-primary", ids="btn-add-node") }}
    {{ button(url="#", text="Cancel", icon="plus", classes="btn-warning", ids="btn-cancel-add-node") }}

    {{ button(url=url_for('map.list'), text="List of Maps", icon="list", classes="btn-primary") }}

  {% if current_user.is_admin() %}
    {{ button(url=url_for('map.create'), text="Add Map", icon="plus", classes="btn-primary") }}
  {% endif %}

  {% if map_.is_editable_by_user() %}
    {{ map_.settings_button(ids="btn-settings", classes="btn-primary") }}
  {% endif %}
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['leaflet', 'markdown-editor', 'bootstrap-select', 'moment']) }}

<script type="module">
{% include "sidebars.js" %}
    var _map;
    var _nodes;
    var _marker_layer;
    var _map_node_types;
    var _nextAction;
    var _filterbase = {};

    var map_changed = false;
    var map_last_change;
    var map_change_check_delay = {{ settings.check_interval * 1000 }};

    $.fn.selectpicker.Constructor.BootstrapVersion = '5';

    function do_log(what) {
      {% if debug_mode() %}
      console.log(what);
      {% endif %}
    }

    function check_map_change() {
      if(map_changed)
        return;

      var new_date;
      var url = "{{ url_for('map.last_change', id=map_.id) }}"
          $.ajax({
              type: "GET",
              url: url,
              success: function(data) {
                new_date = data.last_change;

                if(map_last_change != undefined && map_last_change != new_date) {
                  map_changed = true;
                  global_message({
                    msg : "The locations were changed by another user. Please refresh the page to ensure consitency!",
                    msgtype : "warning",
                    mode : "fadeIn"
                  });
                }

                map_last_change = new_date;
                if(map_change_check_delay > 0) {
                  setTimeout(check_map_change, map_change_check_delay);
                }
              }
          });
    }

    // show loading screen (used while doing ajax request)
    function loading() {
      $('#loading').show();
    }

    // hide loading screen
    function hide_loading() {
      $('#loading').fadeOut(250);

      // this is here because edit and delete buttons would randomly fail after 3 clicks, so the events get readded after every loading
      $("div").one("click", '.node-edit-btn', function(event) {
        setNextAction("none");
        load_edit_form($(this).attr("data"));
        L.DomEvent.stop(event);
      });

      $("div").one("click", '.node-delete-btn', function(event) {
        setNextAction("none");
        delete_node($(this).attr("data"));
        L.DomEvent.stop(event);
      });
    }

    // show a message
    function global_message(msgOptions) {
      if(msgOptions.msg == undefined)
          msgOptions.msg = "";

      if(msgOptions.mode == undefined)
          msgOptions.mode = 'fadeBoth';

      if(msgOptions.delay == undefined)
          msgOptions.delay = 4000;

      if(msgOptions.msgtype == undefined)
          msgOptions.msgtype = 'info'

      if(msgOptions.mode == 'fadeBoth') {
        $("<p />").addClass("alert").addClass("alert-" + msgOptions.msgtype).css("display", "none").html(msgOptions.msg).appendTo("#messagebox").fadeIn( 500, function() {
            $(this).delay(msgOptions.delay).fadeOut(500, function() {
              $(this).remove();
            })
        });
      }

      if(msgOptions.mode == 'fadeIn') {
        $("<p />").addClass("alert").addClass("alert-" + msgOptions.msgtype).css("display", "none").html(msgOptions.msg).appendTo("#messagebox").fadeIn(500, function() {
          $(this).click(function() {
            $(this).fadeOut(500, function() {
              $(this).remove();
            })
          })
        });
      }
    }

    // show a success message
    function global_success_message(message) {
      global_message({
        msg : message,
        msgtype : "success",
        mode : "fadeBoth"
      });
    }

    // show an error message
    function global_error_message(message, fadeOut=false) {
      global_message({
        msg : message,
        msgtype : "danger",
        mode : fadeOut ? "fadeBoth" : "fadeIn"
      });
    }

    function bootstrap_message(message, msgtype) {
      global_message({
        msg: message,
        msgtype: msgtype,
        mode : "fadeIn"
      });
    }

    // show error in node form
    function nodeform_error_message(message) {
      $("<p />").addClass("alert").addClass("alert-danger").css("display", "none").html(message).appendTo("#form_messagebox").fadeIn(500);
    }

    // show warning in node form
    function nodeform_warning_message(message, extraclass="") {
      $("<p />").addClass("alert").addClass("alert-warning").addClass(extraclass).css("display", "none").html(message).appendTo("#form_messagebox").fadeIn(500);
    }

    // remove a global message
    function fadeout_global_message(message_class) {
      $("." + message_class).fadeOut(500, function() {
        $("." + message_class).remove();
      })
    }

    // evaluate the result of a sent edit form
    // may contain success or
    // failure (error while validating form)
    function evaluate_nodeform_success(data) {
      if (data.success == true) {
        global_success_message("server message: " + data.message + " markers will be reloaded automatically.");
        hide_nodeform();
        reload_markers();
        map_last_change = undefined;
      }
      else {
        // iterate over data.errors -> keys are names of the <input> for which there are errors
        for (var key in data.errors) {
          // part 1: general error message for the field
          var msg = data.message + " for " + key + ": "
          if (data.errors.hasOwnProperty(key)) {
            // data.errors.key is an array of error messages, append all of them
            for (var i = 0; i < data.errors[key].length; i++)
              msg += data.errors[key][i] + "<br>"

            // generate a message for every <input> with errors
            nodeform_error_message(msg);
          }
        }
      }
    }

    // evaluate the result of a sent delete request
    function evaluate_node_delete_success(data) {
      if (data.success == true) {
        global_success_message("server message: " + data.message + " markers will be reloaded automatically.");
        reload_markers();
        map_last_change = undefined;
      } else {
        global_error_message("server message: " + data.message, true)
      }
    }

    // show the node form
    function show_nodeform() {
      $("#nodeform input[type=submit]").removeClass("btn-default").addClass("btn-success");
      $("#nodeform").modal('show');
    }

    // hide the node form
    function hide_nodeform() {
      $("#nodeform").modal('hide');
    }

    // evaluate ajax error (reachability, loading, timeout, ...)
    function evaluate_ajax_error(data) {
      global_error_message(data);
    }

    // attach listeners for the new-node form
    function attach_new_form_listener(event) {
      do_log("loaded new form functions");

      // needs to be bound before submit trigger, otherwise value doesnt get copied to original textarea
      makeMarkdownEditor("description", false);

      // ajax on submit button
      $('form').submit(function (e) {
          var url = "{{ url_for('map.node_create', map_id=map_.id, x='x_coord', y='y_coord') }}"
          $.ajax({
              type: "POST",
              url: url.replace("x_coord", event.latlng.lat).replace("y_coord", event.latlng.lng),
              data: $('.create_node_form form').serialize(),
              success: function(data) {
                evaluate_nodeform_success(data.data)
              },
              error: function(data) {
                evaluate_ajax_error(data.data)
              }
          });
          e.preventDefault();
      });

      // add csrf
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", $("#csrf_token").attr("value"));
              }
          }
      });

      // close 'x'
      $(".close-link").click(function() {
        hide_nodeform();
      });

      // filterable dropdown of wiki articles
      $('#wiki_entry').selectpicker({liveSearch: true, liveSearchPlaceholder: "filter"}).parent().removeClass("form-select");;

      $('#submap').selectpicker({liveSearch: true, liveSearchPlaceholder: "filter"}).parent().removeClass("form-select");;

      $('.modal-footer #fake-submit').click(function() {
        $(".create_node_form #submit").click();
      });
    }

    // attach listeners for a edit-node form
    function attach_edit_form_listener(id) {
      do_log("loaded edit form functions");

      // move button
      $("#btn-move-node").click(function() {
        hide_nodeform();
        setNextAction("moveNode");
      });

      // needs to be bound before submit trigger, otherwise value doesnt get copied to original textarea
      makeMarkdownEditor("description", false);

      // ajax on submit button
      $('form').submit(function (e) {
          var url = "{{ url_for('map.node_edit', id='-42') }}"
          $.ajax({
              type: "POST",
              url: url.replace("-42", id),
              data: $('.edit_node_form form').serialize(),
              success: function(data) {
                evaluate_nodeform_success(data.data)
              },
              error: function(data) {
                evaluate_ajax_error(data.data)
              }
          });
          e.preventDefault();
      });

      // add csrf
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", $("#csrf_token").attr("value"));
              }
          }
      });

      // filterable dropdown of wiki articles
      var wiki = $("#wiki_entry")
      if (wiki.attr("disabled") != "disabled") {
        $('#wiki_entry').selectpicker({liveSearch: true, liveSearchPlaceholder: "filter"}).parent().removeClass("form-select");;
      }

      $('#submap').selectpicker({liveSearch: true, liveSearchPlaceholder: "filter"}).parent().removeClass("form-select");;

      $('.modal-footer #fake-submit').click(function() {
        $(".edit_node_form #submit").click();
      });
    }

    // insert the icons into the dropdown for the node type
    function prep_node_type_select() {
      $("#node_type option").each(function() {
        var v = $(this).prop("value");
        if (v != 0) {
          $(this).attr("data-content", '<img src="' + _map_node_types[v].icon_file + '" class="marker_icon" /> ' + $(this).html());
        }
      })

      $('#node_type').selectpicker().parent().removeClass("form-select");;
    }

    // return the anchor point for an icon
    function icon_anchor(width, height) {
      {% if settings.icon_anchor == 1 %} {# icon anchor is center #}
      return [width/2, height/2]
      {% else %} {# icon anchor is bottom or invalid #}
      return [width/2, height]
      {% endif %}
    }

    // return the anchoir point for a popup
    function popup_anchor(width, height) {
      {% if settings.icon_anchor == 1 %} {# icon anchor is center #}
      return [0, (height/2)*-1]
      {% else %} {# icon anchor is bottom or invalid #}
      return [0, height*-1]
      {% endif %}
    }

    // generate the IconStyle for an icon, can be normal or hidden
    function gen_icon_style(icon_fn, icon_width, icon_height, priv=false) {
      if (priv == false) {
        var icon_style = L.icon({
          iconUrl: icon_fn,
          iconSize: [icon_width, icon_height],
          iconAnchor: icon_anchor(icon_width, icon_height),
          popupAnchor: popup_anchor(icon_width, icon_height)
        });
      }

      if (priv == true) {
        var icon_style = L.icon({
          iconUrl: icon_fn,
          className: "private",
          iconSize: [icon_width, icon_height],
          iconAnchor: icon_anchor(icon_width, icon_height),
          popupAnchor: popup_anchor(icon_width, icon_height)
        });
      }

      return icon_style;
    }

    // load the map node types via ajax and add them to the global variable
    // generate icon styles for each and store them as well
    function load_map_node_types(cb) {
      do_log("start loading node types");
      $.getJSON("{{ url_for('map.node_type_json') }}", function(data) {
        _map_node_types = data;

        for (var nt in _map_node_types) {
          _map_node_types[nt].iconstyle = gen_icon_style(_map_node_types[nt].icon_file, _map_node_types[nt].icon_width, _map_node_types[nt].icon_height);
          _map_node_types[nt].iconstyle_private = gen_icon_style(_map_node_types[nt].icon_file, _map_node_types[nt].icon_width, _map_node_types[nt].icon_height, true);
          _filterbase[nt] = []
        }

        do_log("finished loading node types");
        cb();
      });
    }

    // generate a Marker for a node
    function gen_marker(x, y, node_type_id, visible) {
      var marker = L.marker([x, y]);

      if (visible == true) {
        marker.setIcon(_map_node_types[node_type_id].iconstyle);
      } else {
        marker.setIcon(_map_node_types[node_type_id].iconstyle_private);
      }

      return marker;
    }

    // remove all markers from the layer
    function delete_markers() {
      _marker_layer.clearLayers()
    }

    // clear the sidebar
    function clear_location_list() {
      $("#locations li").remove();
      _filterbase = {};
    }

    // reload all markers
    // i.e. delete all marker-related stuff and load them again
    function reload_markers() {
      loading();
      delete_markers();
      clear_location_list();

      load_map_node_types(function() {
        load_map_nodes(function() {
          fill_location_list(function() {
            hide_loading();
          });
        });
      });
    }

    // load the form for a node edit via ajax
    function load_edit_form(id) {
      loading();
      var url = "{{ url_for('map.node_edit', id='-42') }}"
      $("#nodeform_content").load(url.replace("-42", id), function() {
          // $(".edit_node_form #submit").detach().appendTo(".edit_node_form + .modal-footer");
          attach_edit_form_listener(id);
          prep_node_type_select();
          $("button[data-id=node_type]").css("height", "34px");
          $("button[data-id=wiki_entry]").css("height", "34px");
          show_nodeform();
          hide_loading();
      });
    }

    // send a delete request for a node
    function delete_node(id) {
      bootbox.confirm("Delete '" + _nodes[id].name + "'?", function(result) {
        if (result) {
          var url = "{{ url_for('map.node_delete', id='-42') }}";
          $.ajax({
              type: "POST",
              url: url.replace("-42", id),
              success: function(data) {
                evaluate_node_delete_success(data.data)
              },
              error: function(data) {
                evaluate_ajax_error(data.data)
              }
          });
        }
      });
    }

    // generate the popup for a node
    function gen_popup(id, name, description, created, created_by, wiki_id, submap_id, is_editable, is_deletable, edited=undefined, edited_by=undefined) {
      var pop = $("<div />").attr("id", "popup-" + id);
      pop.append("<h2>" + name + "</h2>");

      if (wiki_id != 0 && wiki_id != null) {
        var fake_url = "{{ url_for('wiki.view', id=-1) }}"
        pop.append('<a href="' + fake_url.replace("-1", wiki_id) + '" class="btn btn-outline-primary">{{ icon("graduation-cap") }} Wiki article</a> ');
      }

      if (submap_id != 0 && submap_id != null) {
        var fake_url = "{{ url_for('map.view', id=-1) }}"
        pop.append('<a href="' + fake_url.replace("-1", submap_id) + '" class="btn btn-outline-primary">{{ icon("map-marker-alt") }} View map</a>');
      }

      pop.append($('<div />').addClass("popup-markdown").append(description));

      var btns = $("<nav />")

      if (is_editable) {
        var edit_btn = $("<a />").addClass("btn btn-primary node-edit-btn text-light").attr("data", id);
        edit_btn.append('{{ icon("edit") }}');
        edit_btn.append(' edit');
        btns.append(edit_btn);
      }

      if (is_deletable) {
        var delete_btn = $("<a />").addClass("btn btn-danger node-delete-btn text-light").attr("data", id).css("float", "right");
        delete_btn.append('{{ icon("trash") }}');
        delete_btn.append(' delete');
        btns.append(delete_btn);
      }

      var info = $("<div />").addClass("popup_info")

      info.append('<span>created by ' + created_by + ' (' + moment(created).format('{{current_user.dateformat}}') + ')</span>')

      if (edited != undefined) {
        info.append('<br><span>edited by ' + edited_by + ' (' + moment(edited).format('{{current_user.dateformat}}') + ')</span>')
      }

      var fake_url = "{{ url_for('map.view_with_node', id=map_.id, n_id=-1) }}"
      pop.append('Permalink: <input class="perma-nodelink" type="text" value="' + fake_url.replace("-1", id) + '" />');

      pop.append(info);
      pop.append(btns);

      return pop.html();
    }

    // load map nodes via ajax and store them globally
    // generate the marker for the node
    // add marker to layer
    function load_map_nodes(cb) {
      do_log("start loading nodes");
      $.getJSON("{{ url_for('map.node_json', id=map_.id) }}", function(data) {
        _nodes = data;

        for (var nid in _nodes) {
          _nodes[nid].marker = gen_marker(_nodes[nid].x, _nodes[nid].y, _nodes[nid].node_type, _nodes[nid].visible);
          _nodes[nid].marker.bindPopup(gen_popup(_nodes[nid].id, _nodes[nid].name, _nodes[nid].desc, _nodes[nid].created, _nodes[nid].created_by, _nodes[nid].wiki_id, _nodes[nid].submap, _nodes[nid].is_editable, _nodes[nid].is_deletable, _nodes[nid].edited, _nodes[nid].edited_by), { minWidth: 200 });
          _marker_layer.addLayer(_nodes[nid].marker);
          _filterbase[_nodes[nid].node_type].push({ name: _nodes[nid].name, id: _nodes[nid].id, visible: _nodes[nid].visible });
        }

        do_log("finished loading nodes");
        cb();
      });
    }

    // compare two nodes lexigraphically
    function nodeCompare(a, b) {
      if (a.name.toLowerCase() < b.name.toLowerCase())
        return -1;
      if (a.name.toLowerCase() > b.name.toLowerCase())
        return 1;
      return 0;
    }

    // fill the location sidebar with categories and entries
    function fill_location_list(cb) {
      var list = $("ul#locations");
      for (var cat in _filterbase) {
        if (_filterbase[cat].length > 0) {
          $("<li/>").addClass("category").html('<img src="' + _map_node_types[cat].icon_file + '" > ' + _map_node_types[cat].name).appendTo(list);
          _filterbase[cat].sort(nodeCompare);
          for (var node in _filterbase[cat]) {
            var element = $("<li/>").addClass("location").attr("data-node-id", _filterbase[cat][node].id).html(_filterbase[cat][node].name);
            if (_filterbase[cat][node].visible == false) {
              element.addClass("invis");
            }
            element.appendTo(list);
          }
        }
      }

      $(".location").click(function() {
        var marker = _nodes[$(this).attr("data-node-id")].marker
        _map.panTo(marker.getLatLng());
        marker.openPopup();
      });

      do_log("finished populating location list");
      cb();
    }

    // set the next action (on click)
    function setNextAction(act) {
      if(act == "newNode") {
        fadeout_global_message("move-node-info");

        global_message({
          msg : "click on where you want to create the location.",
          msgtype : "info new-node-info",
          mode : "fadeIn"
        });

        $("#map").addClass("crosshair");

        $("#btn-cancel-add-node").css("display", "inline-block");
        $("#btn-add-node").hide();

        _nextAction = act;
      } else if(act == "moveNode" && _nextAction != "moveNode") {
        fadeout_global_message("new-node-info");

        global_message({
          msg : "click on where you want to move the node.",
          msgtype : "info move-node-info",
          mode : "fadeIn"
        });

        $("#btn-cancel-add-node").hide();
        $("#btn-add-node").show();

        $("#map").addClass("crosshair");

        _nextAction = act;
      } else {
        fadeout_global_message("new-node-info");
        fadeout_global_message("move-node-info"); 
        _nextAction = undefined;

        $("#map").removeClass("crosshair");

        $("#btn-cancel-add-node").hide();
        $("#btn-add-node").show();
      }
    }

    // initialize the map
    function init() {
      // base map with options
      _map = L.map('map', {
        center: [0.0, 0.0],
        zoom: {{ map_.default_zoom }},
        closePopupOnClick: true,
      });

      {% if map_.external_provider %}
        var url = '{{ map_.tiles_path }}'
      {% else %}
        var url = '{{ url_for("map.tile", filename="") }}{{ map_.tiles_path }}';
      {% endif %}

      // tile provider
      L.tileLayer(url, {
          maxZoom: {{ map_.max_zoom }},
          minZoom: {{ map_.min_zoom }},
          {% if map_.no_wrap == True %}
          noWrap: false
          {% else %}
          noWrap: true
          {% endif %}
      }).addTo(_map);

      // marker layer
      _marker_layer = L.layerGroup();

      // click handler, either create a new node or move an existing one
      _map.on('click', function(e) {
        if (_nextAction == "moveNode") {
          setNextAction("none");
          $("#coord_x").val(e.latlng.lat);
          $("#coord_y").val(e.latlng.lng);
          show_nodeform();

          if($(".move-warning").length == 0)
            nodeform_warning_message("you need to submit to save the new position!", "move-warning");
        }

        if (_nextAction == "newNode") {
          loading();
          var url = "{{ url_for('map.node_create', map_id=map_.id, x='x_coord', y='y_coord') }}"
          $("#nodeform_content").load(url.replace("x_coord", e.latlng.lat).replace("y_coord", e.latlng.lng), function() {
              attach_new_form_listener(e);
              prep_node_type_select();
              $("button[data-id=node_type]").css("height", "34px");
              $("button[data-id=wiki_entry]").css("height", "34px");
              show_nodeform();
              hide_loading();
          });
          setNextAction("none");
        }
      });

      // load chain for initialization: node types, nodes, location list, listeners
      load_map_node_types(function() {
        load_map_nodes(function() {
          fill_location_list(function() {
            check_map_change();
            _marker_layer.addTo(_map);

            $("#btn-add-node").click(function() {
              setNextAction("newNode");
            });

            $("#btn-cancel-add-node").click(function() {
              setNextAction("none");
            });

            $("#btn-loc-sidebar").click(function() {
              $("#location-list").show();
            });

            $("#location-list .close-link-sidebar").click(function() {
              $("#location-list").hide();
            });

            $("#filter_locations").on("keyup", function() {
              var value = $(this).val().toLowerCase();

              $("#locations li.location").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
              });
            });

            hide_loading();

            // if the url contains a node id and it exists, jump to the marker
            {% if jump_to_node %}
            if (_nodes[{{ jump_to_node }}] != undefined) {
              var jump_to = _nodes[{{ jump_to_node }}].marker;
              _map.panTo(jump_to.getLatLng());
              jump_to.openPopup();
            }
            {% endif %}

            do_log("init done.");
          });
        });
      });
    }

    $(document).ready(function() {
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}

            {% if category != "message" %}
                bootstrap_message("{{ message }}<br/>Click to dismiss.", "{{ category }}");
            {% else %}
                bootstrap_message("{{ message }}<br/>Click to dismiss.", "info");
            {% endif %}

            {% endfor %}
        {% endif %}
        {% endwith %}

      {% if map_.is_visible == False %}
      bootstrap_message("This map is currently invisible.", "warning");
      {% endif %}
      init();
    });
</script>

{% endblock %}