{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static_files', filename='map.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
{% endblock %}

{% block content %}
  <div id="loading">
    <div class="lds-dual-ring"></div>
  </div>

  <div id="map" class="map">
  </div>

  <div id="messagebox"></div>
  <div id="nodeform" class="panel">
    <a class="close-link">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
    <div id="nodeform_content"></div>
  </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
   integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
   crossorigin=""></script>

<script type="module">
    var _map;
    var _nodes;
    var _marker_layer;
    var _map_node_types;

    function loading() {
      $('#loading').show();
    }

    function hide_loading() {
      $('#loading').fadeOut(250);
    }

    function global_message(msgOptions) {
      if(msgOptions.msg == undefined)
          msgOptions.msg = "";

      if(msgOptions.mode == undefined)
          msgOptions.mode = 'fadeBoth';

      if(msgOptions.delay == undefined)
          msgOptions.delay = 4000;

      if(msgOptions.msgtype == undefined)
          msgOptions.msgtype = 'info'

      if(msgOptions.mode == 'fadeBoth') {
        $("<p />").addClass("alert").addClass("alert-" + msgOptions.msgtype).css("display", "none").html(msgOptions.msg).appendTo("#messagebox").fadeIn( 500, function() {
            $(this).delay(msgOptions.delay).fadeOut(500, function() {
              $(this).remove();
            })
        });
      }

      if(msgOptions.mode == 'fadeIn') {
        $("<p />").addClass("alert").addClass("alert-" + msgOptions.msgtype).css("display", "none").html(msgOptions.msg).appendTo("#messagebox").fadeIn(500, function() {
          $(this).click(function() {
            $(this).fadeOut(500, function() {
              $(this).remove();
            })
          })
        });
      }
    }

    function global_success_message(message) {
      global_message({
        msg : message,
        msgtype : "success",
        mode : "fadeBoth"
      });
    }

    function global_error_message(message) {
      global_message({
        msg : message,
        msgtype : "danger",
        mode : "fadeIn"
      });
    }

    function nodeform_error_message(message) {
      $("<p />").addClass("alert").addClass("alert-danger").css("display", "none").html(message).appendTo("#form_messagebox").fadeIn(500);
    }

    function evaluate_nodeform_success(data) {
      if (data.success == true) {
        global_success_message("server message: " + data.message);
        hide_nodeform();
      }
      else {
        // iterate over data.errors -> keys are names of the <input> for which there are errors
        for (var key in data.errors) {
          // part 1: general error message for the field
          var msg = data.message + " for " + key + ": "
          if (data.errors.hasOwnProperty(key)) {
            // data.errors.key is an array of error messages, append all of them
            for (var i = 0; i < data.errors[key].length; i++)
              msg += data.errors[key][i] + "<br>"

            // generate a message for every <input> with errors
            nodeform_error_message(msg);
          }
        }
      }        
    }

    function show_nodeform() {
      $("#nodeform").show();
    }

    function hide_nodeform() {
      $("#nodeform").hide();
    }

    function evaluate_nodeform_error(data) {
      global_error_message(data);
    }

    function attach_new_form_listener(event) {
      console.log("loaded new form functions");
      $('form').submit(function (e) {
          var url = "{{ url_for('map.node_create', x='x_coord', y='y_coord') }}"
          $.ajax({
              type: "POST",
              url: url.replace("x_coord", event.latlng.lat).replace("y_coord", event.latlng.lng),
              data: $('.create_node_form form').serialize(),
              success: function(data) {
                evaluate_nodeform_success(data.data)
              },
              error: function(data) {
                evaluate_nodeform_error(data.data)
              }
          });
          e.preventDefault();
      });
      
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", $("#csrf_token").attr("value"));
              }
          }
      });

      $(".close-link").click(function() {
        hide_nodeform();
      })
    }

    function attach_edit_form_listener(id) {
      console.log("loaded edit form functions");
      $('form').submit(function (e) {
          var url = "{{ url_for('map.node_edit', id='-42') }}"
          $.ajax({
              type: "POST",
              url: url.replace("-42", id),
              data: $('.edit_node_form form').serialize(),
              success: function(data) {
                evaluate_nodeform_success(data.data)
              },
              error: function(data) {
                evaluate_nodeform_error(data.data)
              }
          });
          e.preventDefault();
      });
      
      $.ajaxSetup({
          beforeSend: function(xhr, settings) {
              if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                  xhr.setRequestHeader("X-CSRFToken", $("#csrf_token").attr("value"));
              }
          }
      });

      $(".close-link").click(function() {
        hide_nodeform();
      })
    }

    function gen_icon_style(icon_fn, priv=false) {
      var url = '{{ url_for("map.node_type_icon", filename="xyz.zyx") }}';

      if (priv == false) {
        var icon_style = L.icon({
          iconUrl: url.replace("xyz.zyx", icon_fn),
          // TODO: get this info from image (+settings maybe)
          iconSize: [35, 35],
          iconAnchor: [18, 35],
          popupAnchor: [0, -35]
        });
      }

      if (priv == true) {
        var icon_style = L.icon({
          // TODO: get this info from image (+settings maybe)
          iconUrl: url.replace("xyz.zyx", icon_fn),
          className: "private",
          iconSize: [35, 35],
          iconAnchor: [18, 35],
          popupAnchor: [0, -35]
        });
      }

      return icon_style;
    }

    function load_map_node_types(cb) {
      console.log("start loading node types");
      $.getJSON("{{ url_for('map.node_type_json') }}", function(data) {
        _map_node_types = data;

        for (var nt in _map_node_types) {
          _map_node_types[nt].iconstyle = gen_icon_style(_map_node_types[nt].icon_file);
          _map_node_types[nt].iconstyle_private = gen_icon_style(_map_node_types[nt].icon_file, true);
        }

        console.log("finished loading node types");
        cb();
      });
    }

    function gen_marker(x, y, node_type_id, visible) {
      var marker = L.marker([x, y]);

      if (visible == true) {
        marker.setIcon(_map_node_types[node_type_id].iconstyle);
      } else {
        marker.setIcon(_map_node_types[node_type_id].iconstyle_private);
      }

      return marker;
    }

    function load_edit_form(id) {
      loading();
      var url = "{{ url_for('map.node_edit', id='-42') }}"
      $("#nodeform_content").load(url.replace("-42", id), function() {
          attach_edit_form_listener(id);
          show_nodeform();
          hide_loading();
      });
    }

    function delete_node(id) {
      var sure = confirm("Delete node " + id + "?");
    }

    function gen_popup(id, name, description, created, created_by, edited=undefined, edited_by=undefined) {
      var pop = $("<div />");
      pop.append("<h2>" + name + "</h2>");
      pop.append("<p>" + description + "</p>");

      var edit_btn = $("<a />").addClass("btn btn-default node-edit-btn").attr("data", id);
      edit_btn.append('<span class="glyphicon glyphicon-pencil"></span>');
      edit_btn.append(' edit');

      var delete_btn = $("<a />").addClass("btn btn-danger node-delete-btn").attr("data", id).css("float", "right");
      delete_btn.append('<span class="glyphicon glyphicon-remove-circle"></span>');
      delete_btn.append(' delete');

      var btns = $("<nav />").append(edit_btn);

      {% if current_user.is_map_admin() %}
      btns.append(delete_btn);
      {% endif %}

      var info = $("<div />").addClass("popup_info")

      info.append('<span>created by ' + created_by + ' (' + created + ')</span>')

      if (edited != undefined)
        info.append('<br><span>edited by ' + edited_by + ' (' + edited + ')</span>')

      pop.append(info);
      pop.append(btns);

      return pop.html();
    }

    function load_map_nodes(cb) {
      console.log("start loading nodes");
      $.getJSON("{{ url_for('map.node_json') }}", function(data) {
        _nodes = data;

        for (var nid in _nodes) {
          _nodes[nid].marker = gen_marker(_nodes[nid].x, _nodes[nid].y, _nodes[nid].node_type, _nodes[nid].visible);
          _nodes[nid].marker.bindPopup(gen_popup(_nodes[nid].id, _nodes[nid].name, _nodes[nid].desc, _nodes[nid].created, _nodes[nid].created_by, _nodes[nid].edited, _nodes[nid].edited_by), { minWidth: 200 });
          _marker_layer.addLayer(_nodes[nid].marker);
        }

        console.log("finished loading nodes");
        cb();
      });
    }

    function init() {
      _map = L.map('map', {
        center: [0.0, 0.0],
        zoom: {{ settings.default_zoom }},
        closePopupOnClick: false,
      });

      {% if settings.external_provider %}
        var url = '{{ settings.tiles_path }}'
      {% else %}
        var url = '{{ url_for("map.tile", filename="") }}{{ settings.tiles_path }}';
      {% endif %}

      L.tileLayer(url, {
          maxZoom: {{ settings.max_zoom }},
          minZoom: {{ settings.min_zoom }},
          noWrap: true,
      }).addTo(_map);

      _marker_layer = L.layerGroup();

      _map.on('click', function(e) {
        loading();
        var url = "{{ url_for('map.node_create', x='x_coord', y='y_coord') }}"
        $("#nodeform_content").load(url.replace("x_coord", e.latlng.lat).replace("y_coord", e.latlng.lng), function() {
            attach_new_form_listener(e);
            show_nodeform();
            hide_loading();
        });
      });

      load_map_node_types(function() {
        load_map_nodes(function() {
          _marker_layer.addTo(_map);

          $("div").on("click", '.node-edit-btn', function(event) {
            load_edit_form($(this).attr("data"));
            event.stopPropagation();
          });

          $("div").on("click", '.node-delete-btn', function(event) {
            delete_node($(this).attr("data"));
            event.stopPropagation();
          });

          hide_loading();
          console.log("init done.");
        });
      });
    }    

    $(document).ready(function() {
      init();
    });
</script>

{% endblock %}