{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables']) }}

<script>
{% if maps %}
makeDatatable("map-table");
{% endif %}
</script>
{% endblock %}

{% block app_content %}
<h1>Maps

{% if maps %}
({{ maps|length }})
{% endif %}
</h1>

{% if current_user.is_admin() %}
{{ navbar_start() }}
    {{ button_nav(url=url_for('map.create'), text="Add Map", icon="plus") }}
{{ navbar_end() }}
{% endif %}

<p>
    This page lists all maps.
</p>

{% if maps %}
<table class="table table-hover table-striped" id="map-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Locations</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for map in maps %}
    {% if map.is_visible %}
        <tr>
    {% else %}
        <tr class="invisible_item">
    {% endif %}
            <td>{{ map.name }}</td>
            <td>{{ map.get_nodes()|length }}</td>
            <td>
                {{ map.view_button() }}
                {% if map.is_editable_by_user() %}
                {{ map.settings_button() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No Maps yet.</p>
{% endif %}
{% endblock %}