{% import 'bootstrap5/form.html' as wtf %}

<div class="modal-header">
    <h5 class="modal-title">New Location</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal">
        <span>&times</span>
    </button>
</div>

<div class="modal-body create_node_form p-4">
    <div id="form_messagebox"></div>
    {{ wtf.render_form(form) }}
</div>

<div class="modal-footer">
    <!-- TODO: revisit this hack when removing render_form() -->
    {{ button(url="#", text="Add Location", classes="btn-success mr-auto", ids="fake-submit") }}
</div>