{% import 'bootstrap5/form.html' as wtf %}

<div class="modal-header">
    <h5 class="modal-title">Edit Location</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal">
    </button>
</div>

<div class="modal-body edit_node_form p-4 pb-5">
    <div id="form_messagebox"></div>
    {{ wtf.render_form(form) }}
</div>

<div class="modal-footer">
    <!-- TODO: revisit this hack when removing render_form() -->
    {{ button(url="#", text="Save Location", classes="btn-success me-auto", ids="fake-submit") }}

    <a href="#" class="btn btn-secondary" id="btn-move-node" data="{{ node.id }}" class="ms-auto">
        {{ icon("arrows-alt") }}
        Move Location
    </a>
</div>