{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment']) }}
{% endblock %}

{% block app_content %}
    <h1>Map Settings</h1>
    {% if current_user.is_admin() %}
    {{ navbar_start() }}
        {{ button_nav(url=url_for('map.create'), text="Add Map", icon="plus") }}
        {{ button_nav(url=url_for('map.list'), text="Map List", icon="plus") }}
    {{ navbar_end() }}
    {% endif %}

    <p>
        The map settings are split into three parts: the general configuration (applies to all maps), the different node types (icons) that can be used on the map and the per-map configuration (found in the settings of the map).
    </p>

    <h2>General map settings</h2>
    <p>
        The map check interval is used to asynchronously check with the server every x seconds if the map nodes have changed.
        A warning is then displayed to ensure consistency.
        The icon anchor depends on the type of image you want to use as icons - the anchor is the part of the image that "points" to the actual location.
        "Bottom" means that the bottom center of the image will point to the location, center means that the center of the image is used instead.
    </p>

    {{ wtf.render_form(form) }}

    <hr>

    <h2>Location Types

    {% if node_types %}
    ({{ node_types|length }})
    {% endif %}
    </h2>
    {{ navbar_start() }}
        {{ button_nav(url=url_for('map.node_type_create'), text="Add Location Type", icon="plus") }}
    {{ navbar_end() }}

    <p>
        Location types consist of an image, a name and a short description if needed.
        It is recommended that you use the same "type" of image concerning the image anchor of the options above, as mixing them might lead to some confusion for the user ("The node is not where I clicked!").
    </p>

    {% if node_types %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Icon</th>
                <th>Name (+Description)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for node_type in node_types %}
            <tr>
                <td>
                    <img src="{{ url_for('map.node_type_icon', filename=node_type.icon_file) }}" alt="{{ node_type.name }}">
                </td>
                <td>  {{ node_type.name  }}
                    {% if node_type.description != "" %}
                    ({{ node_type.description }})
                    {% endif %}
                </td>
                <td>
                    {{ button(url=url_for('map.node_type_edit', id=node_type.id), text="Edit", icon="edit") }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No location types found. You need to create Location Types before you can place something on a map.</p>
    {% endif %}

    {{ settings.print_info(create=False) }}
{% endblock %}