{% extends "base.html" %}

{% block app_content %}
<h1>Calendar and Events</h1>

{% if settings.finalized == False %}
<p class="alert alert-warning">
The calendar has not been finalized by the admin yet.
</p>
{% else %}

{{ navbar_start() }}
    {{ button_nav(url=url_for('calendar.view'), text="View Info", icon="calendar") }}
    {{ button_nav(url=url_for('event.create'), text="Add Event", icon="plus") }}

    {% if current_user.is_at_least_moderator() %}
        {{ button_nav(url=url_for('calendar.settings'), text="Calendar Settings", icon="cog") }}
        {{ button_nav(url=url_for('event.settings'), text="Event Settings", icon="cog") }}
    {% endif %}
{{ navbar_end() }}

<p>
    View <a href="{{ url_for('event.list') }}">all events</a>.
</p>

<h2>Events by Year and Epoch</h2>
<p>
    The following is a list of all eventful years in the calendar, sorted by epoch.
</p>

{% for epoch in epochs %}
<h3><a href="{{ url_for('event.list_epoch', e_id=epoch.id, e_name=epoch.name|urlfriendly) }}">{{ epoch.name }}</a></h3>

    {% for year in years[epoch.id] %}
        {% if loop.index == 1 %}
        <a href="{{ url_for('event.list_epoch_year', e_id=epoch.id, year=year[0], e_name=epoch.name|urlfriendly) }}">{{ year[0] }}</a>
        {% else %}
        &bullet; <a href="{{ url_for('event.list_epoch_year', e_id=epoch.id, year=year[0], e_name=epoch.name|urlfriendly) }}">{{ year[0] }}</a>
        {% endif %}
    {% endfor %}

    {% if not years[epoch.id] %}
    <p>No events in this epoch.</p>
    {% endif %}
{% endfor %}

<h2>Events by Category</h2>
<p>
    Filter events by category.
</p>

<ul class="list-unstyled">
{% for cat in categories %}
<li>
    {{ cat.view_link(text="{} ({})".format(cat.view_text(), cat.get_events()|length)) }}
</li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}