{% extends "base.html" %}

{% block app_content %}
<h1>Calendar and events</h1>

{% if settings.finalized == False %}
<p class="alert alert-warning">
The calendar has not been finalized by the admin yet.
</p>
{% else %}
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('calendar.view') }}">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            View info
        </a>
    </li>
    <li>
        <a href="{{ url_for('event.create') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New event
        </a>
    </li>
</ul>

<p>
    View <a href="{{ url_for('event.list') }}">all events</a>.
</p>

<h2>Events by year and epoch</h2>
<p>
    The following is a list of all eventful years in the calendar, sorted by epoch.
</p>

{% for epoch in epochs %}
<h3><a href="{{ url_for('event.list_epoch', e_id=epoch.id) }}">{{ epoch.name }}</a></h3>

    {% for year in years[epoch.id] %}
        {% if loop.index == 1 %}
        <a href="{{ url_for('event.list_epoch_year', e_id=epoch.id, year=year[0]) }}">{{ year[0] }}</a>
        {% else %}
        &bullet; <a href="{{ url_for('event.list_epoch_year', e_id=epoch.id, year=year[0]) }}">{{ year[0] }}</a>
        {% endif %}
    {% endfor %}

    {% if not years[epoch.id] %}
    <p>No events in this epoch.</p>
    {% endif %}
{% endfor %}

<h2>Events by category</h2>
<p>
    Filter events by category.
</p>

<ul class="list-unstyled">
{% for cat in categories %}
<li style="border-left:7px solid {{ cat.color }};padding-left:10px;"><a href="{{ url_for('event.list_category', c_id=cat.id) }}">{{ cat.name }}</a></li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}