{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script>
$("#finalize-btn a").click(function(e) {
    var sure = confirm("Are you sure you want to finalize the calendar? After doing so, you can only change the names, abbreviations and descriptions of epochs, months and days.");

    if (sure == false) {
        e.preventDefault();
    }
});
{% include "datepicker.js" %}
</script>
{% endblock %}

{% block app_content %}
    <h1>Calendar preview</h1>
    <ul class="nav nav-tabs">
        <li>
            <a href="{{ url_for('calendar.settings') }}">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Back to settings
            </a>
        </li>
         <li id="finalize-btn">
            <a href="{{ url_for('calendar.finalize') }}">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Finalize
            </a>
        </li>
    </ul>

    <p>
        This page is a preview of what the calendar would look like if it was finalized.
        This includes the general information as well as a preview of the datepicker.
        If you are satisfied with the data, you can click the "Finalize" button at the top.
        After finalization, you won't be able to change any number-data or their order, only the names will be editable.
    </p>

    <h2>General info</h2>
    <ul>
        <li>Days per week: {{ calendar["days_per_week"] }}</li>
        <li>Days per year: {{ calendar["days_per_year"] }}</li>
        <li>Months per year: {{ calendar["months_per_year"] }}</li>
    </ul>

    <h2>Epochs</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
                <th>Absolute year-span</th>
            </tr>
        </thead>
        <tbody>
            {% for epoch in calendar["epochs"] %}
            <tr>
                <td>
                    {{ epoch.name }}

                    {% if epoch.abbreviation and epoch.abbreviation != "" %}
                    ({{ epoch.abbreviation }})
                    {% else %}
                    <emph>no abbreviation</emph>
                    {% endif %}
                </td>
                {% if epoch.years > 0 %}
                <td>
                    {% if epoch.circa %}
                    approx.
                    {% endif %}

                    {{ epoch.years }} years</td>
                <td>{{ epoch.years_before + 1 }} - {{ epoch.years_before + epoch.years }}</td>
                {% else %}
                <td>current epoch</td>
                <td>starting {{ epoch.years_before + 1 }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Months</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
                <th>Absolute days in a year</th>
            </tr>
        </thead>
        <tbody>
            {% for month in calendar["months"] %}
            <tr>
                <td>
                    {{ month.name }}

                    {% if month.abbreviation and month.abbreviation != "" %}
                    ({{ month.abbreviation }})
                    {% else %}
                    <emph>(no abbreviation)</emph>
                    {% endif %}
                </td>
                <td>{{ month.days }} days</td>
                <td>{{ month.days_before + 1 }} - {{ month.days_before + month.days }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Days</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for day in calendar["days"] %}
            <tr>
                <td>
                    {{ day.name }}

                    {% if day.abbreviation and day.abbreviation != "" %}
                    ({{ day.abbreviation }})
                    {% else %}
                    <emph>(no abbreviation)</emph>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Form Preview</h2>
    <p>Below is an example of how the datepicker for this calendar will integrate into the Event-form.</p>

    {{ wtf.quick_form(form) }}
{% endblock %}