{% extends "base.html" %}

{% block app_content %}
<h1>Calendar settings</h1>
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('calendar.dummy') }}">
            <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
            Preview
        </a>
    </li>
</ul>

<p>CALENDAR DESCRIPTION</p>

<h2>Epochs</h2>
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('calendar.epoch_create') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
    </li>
</ul>
<p>EPOCH DESCRIPTION</p>
{% if epochs %}
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Length</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for epoch in epochs %}
        <tr>
            <td>{{ epoch.name }} ({{ epoch.abbreviation }})</td>
            <td>
                {% if epoch.years > 0 %}
                    {% if epoch.circa %}
                    approx.
                    {% endif %}
                    {{ epoch.years }} years
                {% else %}
                current epoch
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('calendar.epoch_edit', id=epoch.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </a>

                <a href="{{ url_for('calendar.epoch_up', id=epoch.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    Up
                </a>

                <a href="{{ url_for('calendar.epoch_down', id=epoch.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    Down
                </a>

                <a href="{{ url_for('calendar.epoch_delete', id=epoch.id) }}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No epochs yet.</p>
{% endif %}

<h2>Months</h2>
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('calendar.month_create') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
    </li>
</ul>
<p>MONTHS DESCRIPTION</p>
{% if months %}
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Length</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for month in months %}
        <tr>
            <td>{{ month.name }} ({{ month.abbreviation }})</td>
            <td>
                {{ month.days }} days
            </td>
            <td>
                <a href="{{ url_for('calendar.month_edit', id=month.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    Edit
                </a>

                <a href="{{ url_for('calendar.month_up', id=month.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    Up
                </a>

                <a href="{{ url_for('calendar.month_down', id=month.id) }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    Down
                </a>

                <a href="{{ url_for('calendar.month_delete', id=month.id) }}" class="btn btn-danger">
                    <span class="glyphicon glyphicon-remove-circle"></span>
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No months yet.</p>
{% endif %}

<h2>Days of the week</h2>
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('calendar.dummy') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            New
        </a>
    </li>
</ul>
<p>DAY DESCRIPTION</p>
{% if days %}
--- table ---
{% else %}
<p>No days yet.</p>
{% endif %}


{% endblock %}