{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block scripts %}
{{ super() }}

<script>
$("#phase-button").click(function(e) {
    $(".moon-phases").toggle();
    e.preventDefault();
});
</script>
{% endblock %}

{% block app_content %}
    <h1>Calendar Overview</h1>
    <p>
    The following page is a summary of the calendar that was created by the DM.
    Quick info:
    </p>

    <dl class="row ml-5">
        <dt class="col-sm-3">Days per week</dt>
        <dd class="col-sm-9">{{ stats["days_per_week"] }}</dd>
        <dt class="col-sm-3">Days per year</dt>
        <dd class="col-sm-9">{{ stats["days_per_year"] }}</dd>
        <dt class="col-sm-3">Months per year</dt>
        <dd class="col-sm-9">{{ stats["months_per_year"] }}</dd>
        {% if stats["moons"] %}
        <dt class="col-sm-3">Moons</dt>
        <dd class="col-sm-9">{{ stats["moons"]|length }}</dd>
        {% endif %}
    </dl>

    {% if settings.finalized == True %}
    <h2>Epochs ({{ stats["epochs"]|length }})</h2>
    <p>
    An epoch is an era or an age that defined a long period of time in the world.
    It can be hundreds of years of even millenia long.
    New epochs are likely created by large positive or negative changes that affect large parts of the world.
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for epoch in stats["epochs"] %}
            <tr>
                <td>
                    {{ epoch.name }}

                    {% if epoch.abbreviation and epoch.abbreviation != "" %}
                    ({{ epoch.abbreviation }})
                    {% endif %}
                </td>
                {% if epoch.years > 0 %}
                <td>
                {% if epoch.circa %}
                approx.
                {% endif %}
                {{ epoch.years }} years
                </td>
                {% else %}
                <td>current epoch</td>
                {% endif %}
            </tr>

            {% if epoch.description %}
            <tr>
                <td colspan="2">
                {% if current_user.markdown_phb_style %}
                    <div class="custom-markdown phb-style">
                {% else %}
                    <div class="custom-markdown">
                {% endif %}
{{ epoch.description|markdown }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Months ({{ stats["months"]|length }})</h2>
    <p>
    Months divide the year in roughly equal parts (most of the time).
    In most worlds, seasons are strongly coincided with some months.
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for month in stats["months"] %}
            <tr>
                <td>
                    {{ month.name }}

                    {% if month.abbreviation and month.abbreviation != "" %}
                    ({{ month.abbreviation }})
                    {% endif %}
                </td>
                <td>{{ month.days }} days</td>
            </tr>

            {% if month.description %}
            <tr>
                <td colspan="2">
                {% if current_user.markdown_phb_style %}
                    <div class="custom-markdown phb-style">
                {% else %}
                    <div class="custom-markdown">
                {% endif %}
{{ month.description|markdown }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Days ({{ stats["days"]|length }})</h2>
    <p>The days of the week may have their names based on deities, events or they may have their very own origin story.</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for day in stats["days"] %}
            <tr>
                <td>
                    {{ day.name }}

                    {% if day.abbreviation and day.abbreviation != "" %}
                    ({{ day.abbreviation }})
                    {% endif %}
                </td>
            </tr>

            {% if day.description %}
            <tr>
                <td>
                {% if current_user.markdown_phb_style %}
                    <div class="custom-markdown phb-style">
                {% else %}
                    <div class="custom-markdown">
                {% endif %}
{{ day.description|markdown }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Moons

    {% if stats["moons"] %}
    ({{ stats["moons"]|length }})
    {% endif %}

    </h2>
    <p>The world can be orbited by one or multiple moons, illuminating the dark night.</p>

    {% if stats["moons"] %}
    {{ navbar_start() }}
        {{ button_nav(url="", text="Toggle moon phases", icon="adjust", ids="phase-button") }}
    {{ navbar_end() }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phase length</th>
            </tr>
        </thead>
        <tbody>
            {% for moon in stats["moons"] %}
            <tr>
                <td>{{ moon.name }}</td>
                <td>{{ moon.phase_length }} days
                    <div class="moon-phases">
                        {{ moon.print_phases(moon_size=25)|safe }}
                    </div>
                </td>
            </tr>

            {% if moon.description %}
            <tr>
                <td colspan="2">
                {% if current_user.markdown_phb_style %}
                    <div class="custom-markdown phb-style">
                {% else %}
                    <div class="custom-markdown">
                {% endif %}
{{ moon.description|markdown }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This world does not seem to have any known moons.</p>
    {% endif %}

    {% else %}
    <p>The calendar has not yet been finalized by the DM.</p>
    {% endif %}
{% endblock %}