{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
{{ include_js(['marked']) }}

<script>
{% if settings.finalized == true %}

{% for epoch in stats["epochs"] %}
{% if epoch.description %}
makeMarked("epoch-{{ epoch.id }}-desc");
{% endif %}
{% endfor %}

{% for month in stats["months"] %}
{% if month.description %}
makeMarked("month-{{ month.id }}-desc");
{% endif %}
{% endfor %}

{% for day in stats["days"] %}
{% if day.description %}
makeMarked("day-{{ day.id }}-desc");
{% endif %}
{% endfor %}

{% for moon in stats["moons"] %}
{% if moon.description %}
makeMarked("moon-{{ moon.id }}-desc");
{% endif %}
{% endfor %}
{% endif %}

$("#phase-button").click(function(e) {
    $(".moon-phases").toggle();
    e.preventDefault();
});
</script>
{% endblock %}

{% block app_content %}
    <h1>Calendar overview</h1>
    <p>
    The following page is a summary of the calendar that was created by the DM.
    Quick info:
    </p>

    <dl class="dl-horizontal">
        <dt>Days per week</dt>
        <dd>{{ stats["days_per_week"] }}</dd>
        <dt>Days per year</dt>
        <dd>{{ stats["days_per_year"] }}</dd>
        <dt>Months per year</dt>
        <dd>{{ stats["months_per_year"] }}</dd>
        {% if stats["moons"] %}
        <dt>Moons</dt>
        <dd>{{ stats["moons"]|length }}</dd>
        {% endif %}
    </dl>

    {% if settings.finalized == True %}
    <h2>Epochs</h2>
    <p>
    An epoch is an era or an age that defined a long period of time in the world.
    It can be hundreds of years of even millenia long.
    New epochs are likely created by large positive or negative changes that affect large parts of the world.
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for epoch in stats["epochs"] %}
            <tr>
                <td>
                    {{ epoch.name }}

                    {% if epoch.abbreviation and epoch.abbreviation != "" %}
                    ({{ epoch.abbreviation }})
                    {% endif %}
                </td>
                {% if epoch.years > 0 %}
                <td>
                {% if epoch.circa %}
                approx.
                {% endif %}
                {{ epoch.years }} years
                </td>
                {% else %}
                <td>current epoch</td>
                {% endif %}
            </tr>

            {% if epoch.description %}
            <tr>
                <td colspan="2">
                    <div id="epoch-{{ epoch.id }}-desc" class="custom-markdown">
{{ epoch.description }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Months</h2>
    <p>
    Months divide the year in roughly equal parts (most of the time).
    In most worlds, seasons are strongly coincided with some months.
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
            </tr>
        </thead>
        <tbody>
            {% for month in stats["months"] %}
            <tr>
                <td>
                    {{ month.name }}

                    {% if month.abbreviation and month.abbreviation != "" %}
                    ({{ month.abbreviation }})
                    {% endif %}
                </td>
                <td>{{ month.days }} days</td>
            </tr>

            {% if month.description %}
            <tr>
                <td colspan="2">
                    <div id="month-{{ month.id }}-desc" class="custom-markdown">
{{ month.description }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Days</h2>
    <p>The days of the week may have their names based on deities, events or they may have their very own origin story.</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for day in stats["days"] %}
            <tr>
                <td>
                    {{ day.name }}

                    {% if day.abbreviation and day.abbreviation != "" %}
                    ({{ day.abbreviation }})
                    {% endif %}
                </td>
            </tr>

            {% if day.description %}
            <tr>
                <td>
                    <div id="day-{{ day.id }}-desc" class="custom-markdown">
{{ day.description }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Moons</h2>
    <p>The world can be orbited by one or multiple moons, illuminating the dark night.</p>

    {% if stats["moons"] %}
    <ul class="nav nav-tabs">
        <li>
            <a href="" id="phase-button">
                <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
                Toggle moon phases
            </a>
        </li>
    </ul>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phase length</th>
            </tr>
        </thead>
        <tbody>
            {% for moon in stats["moons"] %}
            <tr>
                <td>{{ moon.name }}</td>
                <td>{{ moon.phase_length }} days
                    <div class="moon-phases">
                        {{ moon.print_phases(moon_size=25)|safe }}
                    </div>
                </td>
            </tr>

            {% if moon.description %}
            <tr>
                <td colspan="2">
                    <div id="moon-{{ moon.id }}-desc" class="custom-markdown">
{{ moon.description }}
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>This world does not seem to have any known moons.</p>
    {% endif %}

    {% else %}
    <p>The calendar has not yet been finalized by the DM.</p>
    {% endif %}
{% endblock %}