{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
{% include "simplemde.js" %}
var simplemde = new SimpleMDE(generateSMDEConfig("about"));
</script>
{% endblock %}

{% block app_content %}
    <h1>Edit profile for {{ user.username }} </h1>

    {{ wtf.quick_form(form) }}
{% endblock %}