{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables', 'moment']) }}

<script>
makeDatatable("user-table");
</script>
{% endblock %}

{% block app_content %}
    <h1>Users ({{ users|length }})</h1>

    {{ navbar_start() }}
        {{ button_nav(url=url_for('user.create'), text="Add User", icon="plus") }}
    {{ navbar_end() }}

    <table class="table table-hover table-striped" id="user-table">
        <thead>
            <tr>
                <th>User</th>
                <th>Roles</th>
                <th>Last seen</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td> {{ user.username }}</td>
                <td>
                    {% if user.roles %}
                        {% for role in user.roles %}
                            {% if loop.index != 1 %}
                            &bullet;
                            {% endif %}

                            {{ role.name }}
                        {% endfor %}
                    {% else %}
                    User
                    {% endif %}
                </td>
                <td>
                    {% if user.last_seen %}
                        {{ moment(user.last_seen).format(current_user.dateformat) }}
                    {% else %}
                        Never
                    {% endif %}
                </td>
                <td>
                    {{ user.view_button() }}
                    {{ user.edit_button() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}