{% extends "base.html" %}

{% set characters = user.get_characters() %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment', 'datatables']) }}

<script type="text/javascript">
{% if characters %}
    makeDatatable("char-table");
{% endif %}
</script>
{% endblock %}

{% block app_content %}
    <h1>User Profile for {{ user.username }}</h1>
    {% if user == current_user or user.is_editable_by_user() %}
    {{ navbar_start() }}
        {% if user.is_editable_by_user() %}
        {{ user.edit_button_nav() }}
        {% endif %}

        {% if user == current_user  %}
            {{ button_nav(url=url_for('user.settings'), text="Settings", icon="cog") }}
            {{ button_nav(url=url_for('character.create'), text="Add Character", icon="plus") }}
        {% endif %}
    {{ navbar_end() }}
    {% endif %}

    {% if user.id == 1 and user.username == "Tar" %}
    <p>Tar is the Creator of Archivar.</p>
    {% endif %}

    {% if user.id == 1 %}
    <p>{{ user.username }} is the original Admin, and can't have his admin privilege removed.</p>
    {% else %}
    <p>{{ user.username }} has the {{ user.role_name() }}-Role.
    {% endif %}

    {% if user.about %}
    <h2>About</h2>
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ user.about|markdown }}
    </div>
    {% else %}
    <p>No description given.</p>
    {% endif %}

    {% if characters %}
    <h2>Characters ({{ characters|length }})</h2>
    {% endif %}

    {% if characters %}
    <div class="row">
        {% for char in characters %}
            {% if char.is_visible %}
                {{ char.infobox() }}
            {% else %}
                {{ char.infobox(add_classes="invisible_item") }}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}


    <h2>Campaigns</h2>
    {% if user.campaigns %}
    <h3>As DM</h3>
    <div class="row mb-3">
        {% for campaign in user.campaigns %}
            {{ campaign.infobox() }}
        {% endfor %}
    </div>
    {% endif %}

    {% set pcampaigns = user.participated_campaigns() %}
    {% if pcampaigns|length > 0 %}
    <h3>As a Player</h3>
    <div class="row">
        {% for campaign in pcampaigns|sort(attribute='id') %}
            {{ campaign.infobox() }}
        {% endfor %}
    </div>
    {% endif %}

    <hr>
    <p>
        Created: {{ moment(user.created).format(current_user.dateformat) }} <br />
        Last seen: {{ moment(user.last_seen).format(current_user.dateformat) }}
    </p>
{% endblock %}
