{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block scripts %}
{{ super () }}
{{ include_js(['moment']) }}

<script>
    $(document).ready(function() {
        $("#dateformat option").each(function() {
            $(this).html(moment("1970-01-01 00:00:00").format($(this).attr('value')));
        });

        $("#quicklinks").attr("placeholder", "one link per line; format: url|title");
    });
</script>
{% endblock %}

{% block app_content %}
    <h1>Edit User Settings</h1>

    {{ wtf.render_form(form) }}
{% endblock %}