{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['simplemde', 'bootstrap-select']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['simplemde', 'bootstrap-select']) }}
<script>
{% include "datepicker.js" %}
{% include "simplemde.js" %}
var simplemde = new SimpleMDE(generateSMDEConfig("description"));
</script>
{% endblock %}

{% block app_content %}
    <h1>Create new event</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}