{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables', 'moment']) }}

<script>
{% if events %}
makeDatatable("event-table");
{% endif %}
</script>
{% endblock %}

{% block app_content %}
    <h1>{{ heading }}</h1>

    {{ navbar_start() }}
        {% if epoch_flag %}
            {{ button_nav(url=url_for('event.create', epoch=request.view_args['e_id']), text="Add Event here", icon="plus") }}
        {% elif epoch_year_flag %}
            {{ button_nav(url=url_for('event.create', epoch=request.view_args['e_id'], year=request.view_args['year']), text="Add Event here", icon="plus") }}
        {% elif category_flag %}
            {{ button_nav(url=url_for('event.create', category=request.view_args['c_id']), text="Add Event here", icon="plus") }}
        {% else %}
            {{ button_nav(url=url_for('event.create'), text="Add Event here", icon="plus") }}
        {% endif %}
    {{ navbar_end() }}

    {% if events %}
     <p>
        The following <strong>{{ events|length }}</strong> events match the search criteria:
    </p>
    <table class="table table-hover table-striped" id="event-table" style="border-collapse:collapse !important;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for event in events %}
            {% if event.is_visible %}
            <tr style="border-left:7px solid {{ event.category.color }}">
            {% else %}
            <tr style="border-left:7px solid {{ event.category.color }}" class="invisible_item">
            {% endif %}
                <td>{{ event.name }}</td>
                <td>
                    {% if epoch_flag %}
                    {{ event.start_date(True, with_link=False, use_epoch=False, use_year=True) }}
                    {% elif epoch_year_flag %}
                    {{ event.start_date(True, with_link=False, use_epoch=False, use_year=False) }}
                    {% else %}
                    {{ event.start_date(True, with_link=False) }}
                    {% endif %}

                    {% if event.duration > 1 %}
                    (lasted {{ event.duration }} days)
                    {% endif %}
                </td>
                <td>
                    {{ event.view_button() }}

                    {% if event.is_editable_by_user() %}
                    {{ event.edit_button() }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No events found. Either there are no events in this year, or you can't see them.</p>
    {% endif %}
{% endblock %}