{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables', 'moment']) }}

<script>
{% include "datatable.js" %}
{% if events %}
makeDatatable("#event-table");
{% endif %}
</script>
{% endblock %}

{% block app_content %}
    <h1>{{ heading }}</h1>

    <p>
        The following events match the search criteria:
    </p>

    {% if events %}
    <table class="table table-hover table-striped" id="event-table" style="border-collapse:collapse !important;">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for event in events %}
            <tr style="border-left:7px solid {{ event.category.color }}">
                <td>{{ event.name }}</td>
                <td>
                    {% if epoch_flag %}
                    {{ event.start_date(True, with_link=False, use_epoch=False, use_year=True) }}
                    {% elif epoch_year_flag %}
                    {{ event.start_date(True, with_link=False, use_epoch=False, use_year=False) }}
                    {% else %}
                    {{ event.start_date(True, with_link=False) }}
                    {% endif %}

                    {% if event.duration > 1 %}
                    (lasted {{ event.duration }} days)
                    {% endif %}
                </td>
                <td>
                    <a href="{{ url_for('event.view', id=event.id) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        View
                    </a>

                    <a href="{{ url_for('event.edit', id=event.id) }}" class="btn btn-default">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        Edit
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No events found. Either there are no events in this year, or you can't see them.</p>
    {% endif %}
{% endblock %}