{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment']) }}
{% endblock %}

{% block app_content %}
<h1>Event Settings</h1>

<p>
    This page contains the general settings for events as well as the possible categories of events.
</p>

<h2>Settings</h2>
<p>
    Adjust the default values when creating a new event (globally for all users).
</p>
{{ wtf.quick_form(form) }}

<h2>Categories

{% if categories %}
({{ categories|length }})
{% endif %}
</h2>

{{ navbar_start() }}
    {{ button_nav(url=url_for('event.category_create'), text="Add Category", icon="plus") }}
{{ navbar_end() }}

<p>
    Create or edit event categories, used to sort events by type of occurence.
</p>

{% if categories %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Color</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cat in categories %}
        <tr>
            <td>
            {{ cat.name }}
            </td>
            <td style="background:{{ cat.color }}">{{ cat.color }}</td>
            <td>
                {{ cat.edit_button() }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No categories yet.</p>
{% endif %}

{{ settings.print_info(create=False) }}
{% endblock %}