{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}

{{ include_js(['moment']) }}

<script>
    $(document).ready(function() {
        $("#delete-link").click(function(e) {
            var p = confirm("Are you sure you want to delete '{{ event.name }}'?");

            if (!p) {
                e.preventDefault();
            }
        });
    });
</script>
{% endblock %}

{% block app_content %}
    <h1>{{ event.name }}</h1>

    {{ navbar_start() }}
        {{ event.edit_button_nav() }}

        {% if current_user.is_event_admin() %}
            {{ event.delete_button_nav() }}
        {% endif %}
    {{ navbar_end() }}

    <dl class="dl-horizontal">
        <dt>Category</dt>
        <dd>{{ event.category.view_link() }}</dd>
        <dt>Date</dt>
        <dd>{{ event.start_date(False, with_link=True, with_weekday=True)|safe }}</dd>
        {% if event.duration > 1 %}
        <dt>Duration</dt>
        <dd>{{ event.duration }} days

        {% if event.duration > 1 %}
        (until {{ event.end_date(False, with_link=True, with_weekday=False)|safe }})
        {% endif %}
        </dd>
        {% endif %}
    </dl>

{% if event.description %}
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ event.description|markdown }}
    </div>
{% endif %}

{% if moons %}
    <h2>Moons on this Day</h2>
    <div id="moons">
{% for moon in moons %}
    {{ moon.print_phase(event.timestamp, 100, True, True)|safe }}
{% endfor %}
    </div>
{% endif %}

{{ event.print_info() }}

{% endblock %}