{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
    options = {
        sanitize: true
    }

    var desc = document.getElementById('description')
    desc.innerHTML = marked(desc.innerHTML, options);
</script>
{% endblock %}

{% block app_content %}
    <h1>{{ event.name }}</h1>
    <ul>
        <li style="padding-left:10px;border-left:7px solid {{ event.category.color }}">{{ event.category.name }}</li>
        <li>Date: {{ event.start_date(False, with_link=True)|safe }}</li>

        {% if event.duration > 1 %}
        <li>Lasted {{ event.duration }} days</li>
        {% endif %}
    </ul>
    <p id="description" class="custom-markdown">
{{ event.description }}
    </p>

    <hr>

    <ul>
        <li>Created by: <a href="{{ url_for('user.profile', username='event.created_by.username') }}">{{ event.created_by.username }}</a></li>
        {% if event.edited_by %}
        <li>Edited by: <a href="{{ url_for('user.profile', username='event.edited_by.username') }}">{{ event.edited_by.username }}</a></li>
        {% endif %}
    </ul>
{% endblock %}