{% extends "base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor']) }}

<script>
$(document).ready(function() {
    {% include "sidebars.js" %}
    makeMarkdownEditor("description");
    makeMarkdownEditor("private_notes");
});

{% if char.profile_picture %}
$(document).ready(function() {
    $("label[for=profile_picture]").after('<img src="{{ char.profile_thumbnail_url() }}" class="img-thumbnail d-block" />');
});
{% endif %}
</script>
{% endblock %}

{% block app_content %}
    <h1>Edit Character</h1>

    {{ wtf.render_form(form) }}
{% endblock %}