{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor']) }}

<script>
$(document).ready(function() {
    {% include "sidebars.js" %}
    makeMarkdownEditor("description");
    makeMarkdownEditor("private_notes");

    {% if current_user.has_admin_role() %}
    makeMarkdownEditor("dm_notes");
    {% endif %}
})
</script>
{% endblock %}

{% block app_content %}
    <h1>Edit Character</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}