{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block scripts %}
{{ super() }}

{{ include_js(['moment', 'util']) }}

{% if journal.is_deletable_by_user() %}
<script>
$(document).ready(function() {
    makeDeleteLink("delete-link", "{{ journal.title }}");
});
</script>
{% endif %}
{% endblock %}

{% block app_content %}
<h1>{{ journal.title }}</h1>

{% if journal.is_editable_by_user() or journal.is_deletable_by_user() or journal.session %}
{{ navbar_start() }}
{% if journal.session %}
{{ button_nav(url=url_for('campaign.timeline', id=journal.session.campaign_id, name=journal.session.campaign.name|urlfriendly, _anchor=journal.anchor_text()), text="View in Timeline", icon="stream") }}
{% endif %}

{% if journal.is_editable_by_user() %}
    {{ journal.edit_button_nav() }}
{% endif %}

{% if journal.is_deletable_by_user() %}
    {{ journal.delete_button_nav() }}
{% endif %}
{{ navbar_end() }}
{% endif %}

<ul class="list-unstyled">
    <li>Written by: {{ char.view_link() }}</li>

    {% if journal.session %}
    <li>Belongs to Session {{ journal.session.view_link() }} of {{ journal.session.campaign.view_link() }}</li>
    {% endif %}
</ul>

{% if journal.content %}
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
    {{ journal.content|markdown }}
</div>
{% endif %}

{{ journal.print_info() }}
{% endblock %}