{% extends "base.html" %}


{% block app_content %}

<h1>Journals for {{ char.name }}
{% if journals %}
({{ journals|length }})
{% endif %}
</h1>

<ul class="nav nav-tabs">
    <li>
        {{ char.view_button_nav(text="Back to Char", icon="arrow-left") }}
    </li>

{% if current_user == char.player %}
    <li>
        <a href="{{ url_for('character.journal_create', c_id=char.id, c_name=char.name|urlfriendly) }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Entry
        </a>
    </li>
{% endif %}
</ul>

<p>
    Here you can CTRL+F your heart out.

    {% if current_user == char.player or current_user.has_admin_role() %}
    <span class="invisible_item">Red text denotes a non-public entry.</span>
    {% endif %}
</p>

{% if journals %}
{% for journal in journals|reverse %}
{% if journal.is_visible or current_user == char.player or current_user.has_admin_role() %}
    <hr>
    {% if journal.is_visible %}
    <h2>{{ journal.title }}</h2>
    {% else %}
    <h2 class="invisible_item">{{ journal.title }}</h2>
    {% endif %}
    {{ journal.view_link(text="View") }}
    {% if current_user == char.player or current_user.has_admin_role() %}
    &bullet; {{ journal.edit_link() }}
    {% endif %}

    {% if journal.content %}
    {% if current_user.markdown_phb_style %}
        <div class="custom-markdown phb-style">
    {% else %}
        <div class="custom-markdown">
    {% endif %}
{{ journal.content|markdown }}
    </div>
    {% endif %}
{% endif %}
{% endfor %}
{% else %}
<p>This character has no (public) journals.</p>
{% endif %}

{% endblock %}