{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}

{{ include_js(['moment']) }}
<script>
$(document).ready(function() {
    $("#delete-link").click(function(e) {
        var p = confirm("Are you sure you want to delete '{{ journal.title }}'?");

        if (!p) {
            e.preventDefault();
        }
    });
});
</script>
{% endblock %}

{% block app_content %}
<h1>{{ journal.title }}</h1>

{% if current_user == char.player or current_user.has_admin_role() %}
<ul class="nav nav-tabs">
    <li>
        {{ journal.edit_button_nav() }}
    </li>
    <li class="delete-li">
        {{ journal.delete_button_nav() }}
    </li>
</ul>
{% endif %}

<ul class="list-unstyled">
    <li>Written by: {{ char.view_link() }}</li>

    {% if journal.session %}
    <li>Belongs to Session {{ journal.session.view_link() }} of {{ journal.session.campaign.view_link() }}</li>
    {% endif %}

    {% if current_user == char.player or current_user.has_admin_role() %}
        {% if journal.is_visible %}
        <li>Status: visible</li>
        {% else %}
        <li>Status: invisible</li>
        {% endif %}
    {% endif %}
</ul>

{% if journal.content %}
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
    {{ journal.content|markdown }}
</div>
{% endif %}

{{ journal.print_info() }}
{% endblock %}