{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor', 'bootstrap-select']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor', 'bootstrap-select']) }}

<script>
{% include "sidebars.js" %}

$(document).ready(function() {
    makeMarkdownEditor("content");
    $.fn.selectpicker.Constructor.BootstrapVersion = '4';
    $('#session').selectpicker({liveSearch: true, liveSearchPlaceholder: "filter"});
});
</script>

{% endblock %}

{% block app_content %}
    <h1>{{ heading }}</h1>

    {{ wtf.render_form(form) }}
{% endblock %}