{% extends "base.html" %}


{% block app_content %}

<h1>Journals for {{ char.name }}
{% if journals %}
({{ journals|length }})
{% endif %}
</h1>

{{ navbar_start() }}
    {{ char.view_button_nav(text="Back to Char", icon="arrow-left") }}

{% if char.journal_is_creatable_by_user() %}
    {{ button_nav(url=url_for('character.journal_create', c_id=char.id, c_name=char.name|urlfriendly), text="Add Entry", icon="plus") }}
{% endif %}
{{ navbar_end() }}

<p>
    Here you can CTRL+F your heart out.

    {% if current_user == char.player %}
    <span class="invisible_item">Red text denotes a non-public entry.</span>
    {% endif %}
</p>

{% if journals %}
{% for journal in journals|reverse %}
    {% if loop.index != 1 %}
    <hr>
    {% endif %}

    <div class="row">
        {% if journal.is_visible %}
        <h3 class="col-9 mt-0">
        {% else %}
        <h3 class="col-9 mt-0 invisible_item">
        {% endif %}
        {{ journal.title }}
        </h3>

        <div class="col-3 text-right">
        {{ journal.view_button(text="View", classes="btn-outline-secondary") }}
        {% if journal.is_editable_by_user() %}
            {{ journal.edit_button(text="Edit", classes="btn-outline-secondary") }}
        {% endif %}
        </div>
    </div>

    {% if journal.content %}
    {% if current_user.markdown_phb_style %}
        <div class="custom-markdown phb-style">
    {% else %}
        <div class="custom-markdown">
    {% endif %}
{{ journal.content|markdown }}
    </div>
    {% endif %}
{% endfor %}
{% else %}
<p>This character has no (public) journals.</p>
{% endif %}

{% endblock %}