{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables']) }}

<script>
{% if chars %}
makeDatatable("char-table", { threshold: 15, items_per_page: 15 });
{% endif %}

{% if parties %}
makeDatatable("parties-table", { threshold: 5 });
{% endif %}
</script>
{% endblock %}

{% block app_content %}
<h1>Parties and Characters</h1>
<p>
    This page lists all parties and characters.
</p>

<h2>Parties

{% if parties %}
({{ parties|length }})
{% endif %}
</h2>

{% if current_user.is_admin() %}
{{ navbar_start() }}
    {{ button_nav(url=url_for('party.create'), text="Add Party", icon="plus") }}
{{ navbar_end() }}
{% endif %}

{% if parties %}
<table class="table table-hover table-striped" id="parties-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>#Members</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for party in parties %}
        <tr>
            <td> {{ party.name }}</td>
            <td> {{ party.members|length }}</td>
            <td>
                {{ party.view_button() }}
                {% if party.is_editable_by_user() %}
                {{ party.edit_button() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No parties yet.</p>
{% endif %}

<hr>

<h2>Characters

{% if chars %}
({{ chars|length }})
{% endif %}
</h2>

{{ navbar_start() }}
    {{ button_nav(url=url_for('character.create'), text="Add Character", icon="plus") }}
{{ navbar_end() }}

{% if chars %}
<table class="table table-hover table-striped" id="char-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Player</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for char in chars %}
    {% if char.is_visible %}
        <tr>
    {% else %}
        <tr class="invisible_item">
    {% endif %}
            <td> {{ char.name }} </td>
            <td> {{ char.race }}</td>
            <td> {{ char.class_ }}</td>
            <td> {{ char.player.view_link() }}</td>
            <td>
                {{ char.view_button() }}
                {% if char.is_editable_by_user() %}
                {{ char.edit_button() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No character yet.</p>
{% endif %}

{% endblock %}