{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables']) }}

<script>
{% if chars %}
makeDatatable("char-table", 15, 15);
{% endif %}

{% if parties %}
makeDatatable("parties-table", 5);
{% endif %}
</script>
{% endblock %}

{% block app_content %}
<h1>Parties and Characters</h1>
<p>
    This page lists all parties and characters.
</p>

<h2>Parties

{% if parties %}
({{ parties|length }})
{% endif %}
</h2>
{% if current_user.has_admin_role() %}
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('party.create') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Party
        </a>
    </li>
</ul>
{% endif %}

{% if parties %}
<table class="table table-hover table-striped" id="parties-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>#Members</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for party in parties %}
        <tr>
            <td> {{ party.name }}</td>
            <td> {{ party.members|length }}</td>
            <td>
                {{ party.view_button() }}
                {% if current_user.has_char_in_party(party) or current_user.has_admin_role() %}
                {{ party.edit_button() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No parties yet.</p>
{% endif %}

<hr>

<h2>Characters

{% if chars %}
({{ chars|length }})
{% endif %}
</h2>
<ul class="nav nav-tabs">
    <li>
        <a href="{{ url_for('character.create') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Character
        </a>
    </li>
</ul>
{% if chars %}
<table class="table table-hover table-striped" id="char-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Player</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for char in chars %}
        <tr>
            <td> {{ char.name }} </td>
            <td> {{ char.race }}</td>
            <td> {{ char.class_ }}</td>
            <td> <a href="{{ url_for('user.profile', username=char.player.username) }}">{{ char.player.username }}</a></td>
            <td>
                {{ char.view_button() }}
                {% if current_user.has_admin_role() or char.player.id == current_user.id %}
                {{ char.edit_button() }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No character yet.</p>
{% endif %}

{% endblock %}