{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment', 'datatables']) }}

<script type="text/javascript">
    {% if char.player.id == current_user.id or current_user.has_admin_role() %}
    $(document).ready(function() {
        $("#delete-link").click(function(e) {
            var p = confirm("Are you sure you want to delete '{{ char.name }}'?");

            if (!p) {
                e.preventDefault();
            }
        });
    });
    {% endif %}

    {% if char.parties %}
    makeDatatable("parties-table", 5);
    {% endif %}

    {% if char.sessions %}
    makeDatatable("sessions-table")
    {% endif %}

    {% if char.journals %}
    makeDatatable("journals-table");
    {% endif %}
</script>
{% endblock %}

{% block app_content %}

    <h1>{{ char.name }}</h1>
    <ul class="nav nav-tabs">
        {% if current_user == char.player %}
        <li>
            <a href="{{ url_for('character.journal_create', c_id=char.id, c_name=char.name|urlfriendly) }}">
                {{ icon("plus") }}
                Add Journal Entry
            </a>
        </li>
        {% endif %}
        {% if char.journals %}
        <li>
            <a href="{{ url_for('character.journal_list', c_id=char.id, c_name=char.name|urlfriendly) }}">
                {{ icon("book") }}
                View Full Journal
            </a>
        </li>
        {% endif %}
    {% if char.player == current_user or current_user.has_admin_role() %}
        <li>
            {{ char.edit_button_nav(text="Edit Character") }}
        </li>
        <li class="delete-li">
            {{ char.delete_button_nav() }}
        </li>
    {% endif %}
    </ul>

    <h2>Info</h2>

     <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{ char.name }}</dd>
        <dt>Race</dt>
        <dd>{{ char.race }}</dd>
        <dt>Class</dt>
        <dd>{{ char.class_ }}</dd>
        <dt>Player</dt>
        <dd>{{ char.player.view_link() }}</dd>
    </dl>

    {% if char.description %}
    {% if current_user.markdown_phb_style %}
        <div class="custom-markdown phb-style">
    {% else %}
        <div class="custom-markdown">
    {% endif %}
{{ char.description|markdown }}
    </div>
    {% endif %}

    {% if char.parties %}
    <h2>Parties ({{ char.parties|length }})</h2>

    <table class="table table-hover table-striped" id="parties-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>#Members</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for party in char.parties %}
            <tr>
                <td>{{ party.name }}</td>
                <td>{{ party.members|length }}</td>
                <td>
                    {{ party.view_button() }}
                    {% if current_user.has_char_in_party(party) or current_user.has_admin_role() %}
                    {{ party.edit_button() }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ char.name }} is in no parties.</p>
    {% endif %}

    {% if char.sessions %}
    <h2>Sessions ({{ char.sessions|length }})</h2>

    <table class="table table-hover table-striped" id="sessions-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Campaign</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for session in char.sessions %}
            <tr>
                <td>{{ session.title }}</td>
                <td>{{ moment(session.date).format(current_user.dateformat) }}</td>
                <td>{{ session.campaign.view_link() }}</td>
                <td>
                    {{ session.view_button() }}
                    {% if current_user.has_char_in_session(session) or current_user.has_admin_role() %}
                    {{ session.edit_button() }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ char.name }} has not participated in any sessions.</p>
    {% endif %}

    {% if char.journals %}
    <hr>
    <h2>Journals

    ({{ char.journals|length }})
    </h2>

    <table class="table table-hover table-striped" id="journals-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Session</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for journal in char.journals|reverse %}
        {% if journal.is_visible or current_user == char.player or current_user.has_admin_role() %}
            {% if journal.is_visible %}
            <tr>
            {% else %}
            <tr class="invisible_item">
            {% endif %}
                <td>{{ journal.title }}</td>
                <td>
                    {% if journal.session %}
                    {{ journal.session.view_link() }}
                    {% endif %}
                </td>
                <td>
                    {{ journal.view_button() }}

                    {% if char.player == current_user or current_user.has_admin_role() %}
                    {{ journal.edit_button() }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if char.private_notes and (current_user.has_admin_role() or char.player.id == current_user.id) %}
    <hr>
    <h2>Private Notes</h2>
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{{ char.private_notes|markdown }}
    </div>
    {% endif %}

    {% if current_user.has_admin_role() %}
        {% if char.dm_notes %}
        <hr>
        <h2>DM Notes</h2>
    {% if current_user.markdown_phb_style %}
        <div class="custom-markdown phb-style">
    {% else %}
        <div class="custom-markdown">
    {% endif %}
{{ char.dm_notes|markdown }}
        </div>
        {% endif %}
    {% endif %}

    {{ char.print_info() }}
{% endblock %}