{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as utils %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wiki.css') }}">
{% endblock %}

{% block scripts %}
{{ super () }}
<script type="text/javascript">
$(document).ready(function() {
    $("#searchterm").attr("placeholder", "search for ...");

    $("#sidebar-wrapper form").submit(function(e) {
        text_url = "{{ url_for('wiki.search_text', text='textxyz') }}";
        tag_url = "{{ url_for('wiki.search_tag', tag='tagxyz') }}";

        if ($("#tags-0").prop("checked") == true) {
            $(location).attr('href', text_url.replace("textxyz", $("#searchterm").val()));
        } else if ($("#tags-1").prop("checked") == true) {
            $(location).attr('href', tag_url.replace("tagxyz", $("#searchterm").val()));
        }
        else {
            alert("Check one of the checkboxes.");
        }

        e.preventDefault();
        return false;
    });
});
</script>
{% endblock %}

{% block content %}
    <div id="wrapper">
       {% include "markdown_editor_sidebar.html" %}

        <div id="sidebar-wrapper">
            <h2>Search</h2>
            {% if nav[1] %}
                {{ wtf.quick_form(nav[1]) }}
            {% endif %}

            <h2>Static Links</h2>
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.create') }}">New Page</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.recent') }}">Recent Changes</a></li>

                {% if current_user.is_wiki_admin() %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.settings') }}">Settings</a></li>
                {% endif %}
            </ul>

            <h2>Articles</h2>
            <ul class="nav nav-pills flex-column" id="stacked-menu">
                {% if entry and entry.id == 1 %}
                <li class="nav-item active"><a class="nav-link" href="{{ url_for('wiki.view', id=1, name='Main Page'|urlfriendly) }}">Main Page</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.view', id=1, name='Main Page'|urlfriendly) }}">Main Page</a></li>
                {% endif %}

                {% if nav[0] %}
                    {% for cat in nav[0] %}
                        {% if cat != "" %}
                        <li class="nav-item">
                            <a class="dropdown-toggle" data-toggle="collapse" data-parent="#stacked-menu" href="#a{{cat|hash}}">{{ cat }}</a>
                            {% if entry and entry.category == cat %}
                            <ul class="nav nav-pills collapse show" id="a{{cat|hash}}">
                            {% else %}
                            <ul class="nav nav-pills collapse" id="a{{cat|hash}}">
                            {% endif %}

                            {% for link in nav[0][cat] %}
                                {% if entry and entry.id == link[0] and link[2] == False %}
                                <li class="nav-item active invis"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                                {% elif entry and entry.id == link[0] %}
                                <li class="nav-item active"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                                {% elif link[2] == False %}
                                <li class="nav-item invis"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                                {% else %}
                                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% for link in nav[0][""] %}
                        {% if entry and entry.id == link[0] and link[2] == False %}
                        <li class="nav-item active invis"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                        {% elif entry and entry.id == link[0] %}
                        <li class="nav-item active"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                        {% elif link[2] == False %}
                        <li class="nav-item invis"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </div>

        <div id="content-wrapper">
        {% block app_content %}
            {{ utils.flashed_messages(dismissible=True) }}
        {% endblock %}

        {% include "footer.html" %}
        </div>
    </div>
{% endblock %}