{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'bootstrap/utils.html' as utils %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='wiki.css', av=get_archivar_version()) }}">
{% endblock %}

{% block scripts %}
{{ super () }}
<script type="text/javascript">
$(document).ready(function() {
    $("#searchterm").attr("placeholder", "search for ...");

    $(".wiki-search form").submit(function(e) {
        text_url = "{{ url_for('wiki.search_text', text='textxyz') }}";
        tag_url = "{{ url_for('wiki.search_tag', tag='tagxyz') }}";

        if ($("#tags-0").prop("checked") == true) {
            $(location).attr('href', text_url.replace("textxyz", $("#searchterm").val()));
        } else if ($("#tags-1").prop("checked") == true) {
            $(location).attr('href', tag_url.replace("tagxyz", $("#searchterm").val()));
        }
        else {
            alert("Check one of the checkboxes.");
        }

        e.preventDefault();
        return false;
    });
});
</script>
{% endblock %}

{% block content %}
    <div class="container-fluid mt-5">
       {% include "markdown_editor_sidebar.html" %}
        <div class="row">
            <div class="col-sm-2 pl-2">
                <div class="p-2 mb-2 wiki-search">
                {% if nav[1] %}
                    {{ wtf.quick_form(nav[1]) }}
                {% endif %}
                </div>

                <h4 class="mt-3">Static Links</h2>
                <ul class="nav flex-column flex-nowrap">
                    <li class="nav-item"><a class="nav-link p-0 pl-2" href="{{ url_for('wiki.create') }}">New Page</a></li>
                    <li class="nav-item"><a class="nav-link p-0 pl-2" href="{{ url_for('wiki.recent') }}">Recent Changes</a></li>

                    {% if current_user.is_at_least_moderator() %}
                    <li class="nav-item"><a class="nav-link p-0 pl-2" href="{{ url_for('wiki.settings') }}">Settings</a></li>
                    {% endif %}
                </ul>

                <h4 class="mt-3">Articles</h2>
                <ul class="nav flex-column" id="stacked-menu">
                    {% if entry and entry.id == 1 %}
                    <li class="nav-item active">
                    {% else %}
                    <li class="nav-item">
                    {% endif %}

                    <a class="nav-link p-0 pl-2" href="{{ url_for('wiki.view', id=1, name='Main Page'|urlfriendly) }}">Main Page</a></li>

                    {% if nav[0] %}
                        {% for cat in nav[0] %}
                            {% if cat != "" %}
                            <li class="nav-item">
                                <a class="dropdown-toggle nav-link p-0 pl-2" data-toggle="collapse" data-parent="#stacked-menu" href="#{{cat|hash}}">{{ cat }}</a>

                                {% if entry and entry.category == cat %}
                                <div class="collapse show" id="{{cat|hash}}">
                                {% else %}
                                <div class="collapse" id="{{cat|hash}}">
                                {% endif %}

                                    <ul class="nav flex-column pl-4">
                                    {% for link in nav[0][cat] %}
                                        {% if entry and entry.id == link[0] and link[2] == False %}
                                        <li class="nav-item active invis">
                                        {% elif entry and entry.id == link[0] %}
                                        <li class="nav-item active">
                                        {% elif link[2] == False %}
                                        <li class="nav-item invis">
                                        {% else %}
                                        <li class="nav-item">
                                        {% endif %}

                                        <a class="nav-link p-0" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% for link in nav[0][""] %}
                            {% if entry and entry.id == link[0] and link[2] == False %}
                            <li class="nav-item active invis">
                            {% elif entry and entry.id == link[0] %}
                            <li class="nav-item active">
                            {% elif link[2] == False %}
                            <li class="nav-item invis">
                            {% else %}
                            <li class="nav-item">
                            {% endif %}

                            <a class="nav-link p-0 pl-2" href="{{ url_for('wiki.view', id=link[0], name=link[1]|urlfriendly) }}">{{ link[1] }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="col-xl">
            {% block app_content %}
                {{ utils.flashed_messages(dismissible=True) }}
            {% endblock %}

            </div>
        </div>
        <div class="modal" id="lightbox">
          <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">
                  <span class="fas fa-times"></span>
                </button>
              </div>
              <div class="modal-body">
                  <img src="#" class="align-self-center img-fluid" />
              </div>
            </div>
          </div>
        </div>
        {% include "footer.html" %}
    </div>
{% endblock %}