{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
var tb = ["bold", "italic", "heading-1", "heading-2", "heading-3", "|", "quote", "unordered-list", "ordered-list", "|", "link", "image", "table", "horizontal-rule", "|", "side-by-side", "fullscreen", "guide"]

var simplemde = new SimpleMDE({
    element: document.getElementById("content"),
    toolbar: tb,
    spellChecker: false,
    status: false
});

{% if current_user.has_admin_role() %}
var simplemde2 = new SimpleMDE({
    element: document.getElementById("dm_content"),
    toolbar: tb,
    spellChecker: false,
    status: false
});
{% endif %}
</script>
{% endblock %}

{% block app_content %}
    <h1>Create new wiki entry</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}