{% extends "wiki/base.html" %}
{% import 'bootstrap5/form.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor']) }}

<script>
{% include "sidebars.js" %}
makeMarkdownEditor("content");
</script>
{% endblock %}

{% block app_content %}
{{ super() }}
    <h1>Create New Wiki Entry</h1>

    <datalist id="category-list">
        {% for cat in cats %}
        <option value="{{ cat }}">
        {% endfor %}
    </datalist>

    {{ wtf.render_form(form) }}
{% endblock %}