{% extends "wiki/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['simplemde']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['simplemde']) }}

<script>
{% include "simplemde.js" %}
var simplemde = new SimpleMDE(generateSMDEConfig("content"));


{% if current_user.has_admin_role() %}
var simplemde2 = new SimpleMDE(generateSMDEConfig("dm_content"));
{% endif %}
</script>
{% endblock %}

{% block app_content %}
{{ super() }}
    <h1>Create new wiki entry</h1>

    {{ wtf.quick_form(form) }}
{% endblock %}