{% extends "wiki/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['markdown-editor']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['markdown-editor']) }}

<script>
{% include "sidebars.js" %}
makeMarkdownEditor("content");

{% if current_user.has_admin_role() %}
makeMarkdownEditor("dm_content");
{% endif %}
</script>
{% endblock %}

{% block app_content %}
{{ super() }}
    <h1>Edit Wiki Entry '{{ entry.title }}'</h1>

    <datalist id="category-list">
        {% for cat in cats %}
        <option value="{{ cat }}">
        {% endfor %}
    </datalist>

    {{ wtf.quick_form(form) }}
{% endblock %}