{% extends "wiki/base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment']) }}
{% endblock %}

{# TODO use real objects here for view links and user links #}

{% block app_content %}
    {{ super() }}

    <h1>Recent Changes</h1>

    <h2>Recently Created Pages</h2>
    {% if created %}
    <ul class="list-unstyled">
        {% for entry in created %}
        <li><a href="{{ url_for('wiki.view', id=entry[0], name=entry[1]|urlfriendly) }}">{{ entry[1] }}</a> ({{ moment(entry[2]).format(current_user.dateformat) }} by <a href="{{ url_for('user.profile', username=entry[3]) }}">{{ entry[3] }}</a>)</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No recently created pages.</p>
    {% endif %}

    <h2>Recently Edited Pages</h2>
    {% if edited %}
    <ul class="list-unstyled">
        {% for entry in edited %}
        <li><a href="{{ url_for('wiki.view', id=entry[0], name=entry[1]|urlfriendly) }}">{{ entry[1] }}</a> ({{ moment(entry[2]).format(current_user.dateformat) }} by <a href="{{ url_for('user.profile', username=entry[3]) }}">{{ entry[3] }}</a>)</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No recently edited pages.</p>
    {% endif %}
{% endblock %}