{% extends "wiki/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    $(".matching_phrase").each(function() {
        $(this).html($(this).html().replace("{{ term }}", "<b>{{ term }}</b>"));
    });
</script>
{% endblock %}

{% block app_content %}
    {{ super() }}

    <h1>Search for '{{ term }}'</h1>
    {% if results %}
    <ul>
        {% for result in results %}
        <li><a href="{{ url_for('wiki.view', id=result[0]) }}">{{ result[1] }}</a> <span class="matching_phrase">(... {{ result[2] }} ...)</span></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No articles containing '{{ term }}' were found.</p>
    {% endif %}
{% endblock %}