{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment']) }}
{% endblock %}

{% block app_content %}
    <h1>Wiki Settings</h1>

    <p>
        Set some default values for new articles.
        Currently unused.
    </p>

    {% if form %}
    {{ wtf.quick_form(form) }}
    {% endif %}

    <h2>Rename wiki category</h2>
    <p>
        You can quickly rename a category or merge it with another. Note that the main category (empty field) can't be renamed.
        <b>Note: If you leave the second field empty, all articles will be moved to the main category!</b>
    </p>

    {{ wtf.quick_form(move_form) }}

    {{ settings.print_info(create=False) }}
{% endblock %}