{% extends "wiki/base.html" %}

{% block scripts %}
{{ super() }}
{{ include_js(['moment', 'util']) }}

<script type="text/javascript">
{% if entry.is_deletable_by_user() and entry.id != 1 %}
    $(document).ready(function() {
        makeDeleteLink("delete-link", "{{ entry.title }}");
    });
{% endif %}
</script>
{% endblock %}

{% block app_content %}
{{ super() }}

{{ navbar_start(no_margin=True) }}
    {{ button_nav(url=url_for('wiki.create'), text="Add Article", icon="plus") }}

    {% if entry.is_editable_by_user() %}
    {{ entry.edit_button_nav() }}
    {% endif %}

    {% if entry.is_hideable_by_user() %}
        {% if entry.is_visible %}
            {{ button_nav(url=url_for('wiki.toggle_vis', id=entry.id, name=entry.title|urlfriendly), text="Hide Article", icon="eye-slash") }}
        {% else %}
            {{ button_nav(url=url_for('wiki.toggle_vis', id=entry.id, name=entry.title|urlfriendly), text="Make Public", icon="eye") }}
        {% endif %}
    {% endif %}

    {% if entry.id != 1 and entry.is_deletable_by_user() %}
        {{ entry.delete_button_nav() }}
    {% endif %}
{{ navbar_end() }}

{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div class="custom-markdown">
{% endif %}
{% if entry.content %}
{% filter markdown %}
# {{ entry.title }}
{% endfilter %}
{{ entry.content|markdown }}
{% else %}
No content.
{% endif %}
    </div>

{% if map_nodes %}
<h2>Associated Map Nodes</h2>
<ul class="list-unstyled">
{% for node in map_nodes %}
<li><a href="{{ url_for('map.view_with_node', id=node.on_map, n_id=node.id, m_name=node.parent_map.name|urlfriendly, n_name=node.name|urlfriendly) }}">{{ node.name }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% if entry.tags %}
    {% for tag in entry.split_tags() %}
    <a href="{{ url_for('wiki.search_tag', tag=tag) }}">#{{ tag }}</a>
    {% endfor %}
{% endif %}

{{ entry.print_info() }}
{% endblock %}