{% extends "base.html" %}

{% block app_content %}
    <h1>About Archivar</h1>

    <p>
        Archivar is a web-based tool for collaborative world building, as well as campaign management for role playing groups.
        It is intended to be used with a small to semi-large group of people who trust each other and are interested in filling their world with places, information and stories.
        Archivar allows for people to collaborate on places in the world (map), knowledge about the world (wiki) and timelines within the world (calendar).
        Users can create their own engine-agnostic characters and add information and stories about them as well.
        For DMs, this tool allows for keeping track of all the information of the world, as well as DM-specific tidbits that are hidden from other users.
        Besides the world building, it can be used to plan/announce play sessions for one or more campaigns within the world.
    </p>

    <p>
        Archivar was started and is fully intended to be a private project.
        This means that functionality or design may change at any time if I see fit.
        It is a work in progress and probably will be for a long time.
    </p>

    <h2>Contact the author</h2>
    <p>
        You can check out Archivar on <a href="https://github.com/tarenethil/archivar">github</a>.
        You can contact me via <a href="https://github.com/tarenethil">github</a> or <a href="https://old.reddit.com/u/TarEnethil">reddit</a>.
    </p>

    <img id="logo" alt="Archivar logo" src="{{ url_for('static', filename='logo.png') }}">

    <!-- <h2>Special thanks</h2> -->

    <h2>License</h2>
    <p>
        I should probably add some licensing info.
    </p>
{% endblock %}