{% extends 'bootstrap_base.html' %}
{% import 'bootstrap5/utils.html' as utils %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        WHY DEFAULT_TITLE
    {% endif %}
{% endblock %}

{% block styles %}

{% if current_user.is_authenticated %}
    {{ current_user.get_theme_include() }}
{% else %}
    {{ include_css(["bootstrap"]) }}
{% endif %}

{{ include_css(["fontawesome"]) }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico', av=get_archivar_version()) }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css', av=get_archivar_version()) }}">
{% endblock %}

{% block scripts %}
{{ include_js(["bootstrap", "jquery", "lightbox"]) }}

<script type="text/javascript">
$(document).ready(function() {
  $("input[type=submit][value!=Search]").removeClass("btn-default").addClass("btn-success");
});
</script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-xl sticky-top navbar-light bg-light" id="topnav">
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#topnav-navbar" aria-expanded="true" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="topnav-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if debug_mode() %}
                    <a class="navbar-brand text-danger" id="dev-logo" href="{{ url_for('main.index') }}">
                        {{ icon("code") }} <small class="text-light bg-danger p-1">DEV</small>
                    </a>
                    {% else %}
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">
                        {{ icon("home") }}
                    </a>
                    {% endif %}
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('campaign.index') }}">{{ icon("book") }} Campaigns</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('session.index') }}">{{ icon("file") }} Sessions</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('map.index') }}">{{ icon("map-marker-alt") }} Map</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.index') }}">{{ icon("graduation-cap") }} Wiki</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar.index') }}">{{ icon("calendar-alt") }} Calendar</a></li>

                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("plus-square") }} More <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('media.index') }}">{{ icon("images") }} Media</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('random.index') }}">{{ icon("dice-d20") }} Rolls</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('character.list') }}">{{ icon("list") }} Parties & Chars</a></li>
                    </ul>
                </li>
                {% endif %}

            </ul>

            {% if current_user.is_authenticated %}
                {% set user_ql = load_user_quicklinks() %}
                {% set global_ql = load_global_quicklinks() %}

                {% if user_ql|length > 0 or global_ql|length > 0 %}
            <ul class="navbar-nav mx-auto">
                    {% if user_ql|length == 1 %}
                <li class="user-quicklinks nav-item mr-5">
                    <a class="nav-link" href="{{ user_ql[0][0] }}"> {{ user_ql[0][1] }}</a>
                </li>
                    {% elif user_ql|length > 1 %}
                <li class="nav-item dropdown user-quicklinks mr-5">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("bolt") }} Quicklinks <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for link in user_ql %}
                        <li class="nav-item"><a class="nav-link ps-3" href="{{ link[0] }}">{{ link[1] }}</a></li>
                        {% endfor %}
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item"><a class="nav-link ps-3" href="{{ url_for('user.settings') }}">
                            {{ icon("cog") }}
                            Edit quicklinks
                            </a>
                        </li>
                    </ul>
                </li>
                    {% endif %}

                    {% for link in global_ql %}
                <li class="nav-item"><a class="nav-link" href="{{ link[0] }}">{{ link[1] }}</a></li>
                    {% endfor %}
            </ul>
                {% endif %}
            {% endif %}

            <ul class="navbar-nav ms-auto">
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('user.list') }}">{{ icon("users") }} Users</a></li>
                {% endif %}

                {% if current_user.is_authenticated and current_user.is_at_least_moderator() %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("cog") }} Settings <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link ps-3" href="{{ url_for('main.settings') }}">General</a>
                            <a class="nav-link ps-3" href="{{ url_for('calendar.settings') }}">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-3" href="{{ url_for('map.settings') }}">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-3" href="{{ url_for('event.settings') }}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-3" href="{{ url_for('wiki.settings') }}">Wiki</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ps-3" href="{{ url_for('media.settings') }}">Media</a>
                        </li>
                    </ul>
                </li>
                {% endif %}

                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.login') }}">Login</a></li>
                {% else %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("user") }} {{ current_user.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">{{ current_user.view_link(classes="nav-link ps-3") }}</li>
                        <li class="nav-item"><a class="nav-link ps-3" href="{{ url_for('user.settings') }}">Settings</a></li>
                        <li class="nav-item"><a class="nav-link ps-3" href="{{ url_for('main.logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% include "markdown_editor_sidebar.html" %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-8 mx-auto">
        {{ utils.render_messages(dismissible=True, container=True) }}

        {% block app_content %}{% endblock %}
        </div>
    </div>

    <div class="modal" id="lightbox">
        <div class="modal-dialog modal-xl modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <img src="#" class="align-self-center img-fluid" />
            </div>
          </div>
        </div>
      </div>
    {% include "footer.html" %}
</div>
{% endblock %}