{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/utils.html' as utils %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        WHY DEFAULT_TITLE
    {% endif %}
{% endblock %}

{% block styles %}
{{ include_css(["bootstrap", "fontawesome"]) }}
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block scripts %}
{{ include_js(["bootstrap"]) }}

<script type="text/javascript">
$(document).ready(function() {
  $("input[type=submit][value!=Search]").removeClass("btn-default").addClass("btn-success");
});
</script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-xl sticky-top navbar-light bg-light" id="topnav">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#topnav-navbar" aria-expanded="true" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="topnav-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    {% if debug_mode() %}
                    <a class="navbar-brand text-danger" href="{{ url_for('main.index') }}">
                        {{ icon("code") }} <small class="text-light bg-danger p-1">DEV</small>
                    </a>
                    {% else %}
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">
                        {{ icon("home") }}
                    </a>
                    {% endif %}
                </li>

                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('campaign.index') }}">{{ icon("book") }} Campaigns</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('session.index') }}">{{ icon("file") }} Sessions</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('map.index') }}">{{ icon("map-marker-alt") }} Map</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('wiki.index') }}">{{ icon("graduation-cap") }} Wiki</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('calendar.index') }}">{{ icon("calendar-alt") }} Calendar</a></li>
                {% endif %}

            </ul>

            {% if current_user.is_authenticated %}
                {% set user_ql = load_user_quicklinks() %}
                {% set global_ql = load_global_quicklinks() %}

                {% if user_ql|length > 0 or global_ql|length > 0 %}
            <ul class="navbar-nav mx-auto">
                    {% if user_ql|length == 1 %}
                <li class="user-quicklinks nav-item mr-5">
                    <a class="nav-link" href="{{ user_ql[0][0] }}"> {{ user_ql[0][1] }}</a>
                </li>
                    {% elif user_ql|length > 1 %}
                <li class="nav-item dropdown user-quicklinks mr-5">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("bolt") }} Quicklinks <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for link in user_ql %}
                        <li class="nav-item"><a class="nav-link pl-3" href="{{ link[0] }}">{{ link[1] }}</a></li>
                        {% endfor %}
                        <li role="separator" class="dropdown-divider"></li>
                        <li class="nav-item"><a class="nav-link pl-3" href="{{ url_for('user.settings') }}">
                            {{ icon("cog") }}
                            Edit quicklinks
                            </a>
                        </li>
                    </ul>
                </li>
                    {% endif %}

                    {% for link in global_ql %}
                <li class="nav-item"><a class="nav-link" href="{{ link[0] }}">{{ link[1] }}</a></li>
                    {% endfor %}
            </ul>
                {% endif %}
            {% endif %}

            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('media.index') }}">{{ icon("images") }} Media</a></li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('character.list') }}">{{ icon("list") }} Parties & Chars</a></li>
                {% endif %}

                {% if current_user.is_authenticated and current_user.has_admin_role() %}
                <li class="dropdown">
                    <a class="nav-link" href="{{ url_for('user.list') }}">
                    {{ icon("users") }} Users
                    </a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated and current_user.has_access_to_some_settings() %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("cog") }} Settings <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.has_admin_role() %}
                        <li class="nav-item">
                            <a class="nav-link pl-3" href="{{ url_for('main.settings') }}">General</a>
                            <a class="nav-link pl-3" href="{{ url_for('calendar.settings') }}">Calendar</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_map_admin() %}
                        <li class="nav-item">
                            <a class="nav-link pl-3" href="{{ url_for('map.settings') }}">Map</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_event_admin() %}
                        <li class="nav-item">
                            <a class="nav-link pl-3" href="{{ url_for('event.settings') }}">Events</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_wiki_admin() %}
                        <li class="nav-item">
                            <a class="nav-link pl-3" href="{{ url_for('wiki.settings') }}">Wiki</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_media_admin() %}
                        <li class="nav-item">
                            <a class="nav-link pl-3" href="{{ url_for('media.settings') }}">Media</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if current_user.is_anonymous %}
                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.login') }}">Login</a></li>
                {% else %}
                <li class="dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ icon("user") }} {{ current_user.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">{{ current_user.view_link(classes="nav-link pl-3") }}</li>
                        <li class="nav-item"><a class="nav-link pl-3" href="{{ url_for('user.settings') }}">Settings</a></li>
                        <li class="nav-item"><a class="nav-link pl-3" href="{{ url_for('main.logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
    </div>
</nav>
{% endblock %}

{% block content %}
{% include "markdown_editor_sidebar.html" %}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-xl-8 mx-auto">
        {{ utils.flashed_messages(dismissible=True) }}

        {% block app_content %}{% endblock %}
        </div>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}