{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        WHY DEFAULT_TITLE
    {% endif %}
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="icon" href="{{ url_for('static_files', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static_files', filename='style.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript">
$(document).ready(function() {
    $("input[type=submit][value!=Search]").removeClass("btn-default").addClass("btn-success");
});
</script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-default bg-dark" id="topnav">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnav-navbar" aria-expanded="true" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-collapse collapse" id="topnav-navbar">
            <ul class="nav navbar-nav navbar-left" id="leftnav">
                <li><a href="{{ url_for('index') }}">
                    <span class="glyphicon glyphicon-home"></span>
                </a></li>

                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('session.index') }}"><span class="glyphicon glyphicon-pencil"></span> Sessions</a></li>
                <li><a href="{{ url_for('map.index') }}"><span class="glyphicon glyphicon-map-marker"></span> Map</a></li>
                <li><a href="{{ url_for('wiki.index') }}"><span class="glyphicon glyphicon-education"></span> Wiki</a></li>
                <li><a href="{{ url_for('calendar.index') }}"><span class="glyphicon glyphicon-calendar"></span> Calendar</a></li>
                {% endif %}

            </ul>

            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav navbar-left">
                {% for link in load_quicklinks() %}
                <li><a href="{{ link[0] }}"> {{ link[1] }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated and current_user.has_admin_role() %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" id="users-glyph"></span> Users <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.create') }}">New user</a></li>
                        <li><a href="{{ url_for('user.list') }}">User list</a></li>
                        <li><a href="{{ url_for('character.list') }}">C&P</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if current_user.is_authenticated and current_user.has_access_to_some_settings() %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog"></span> Settings <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% if current_user.has_admin_role() %}
                        <li>
                            <a href="{{ url_for('settings') }}">General</a>
                            <a href="{{ url_for('calendar.settings') }}">Calendar</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_map_admin() %}
                        <li>
                            <a href="{{ url_for('map.settings') }}">Map</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_event_admin() %}
                        <li>
                            <a href="{{ url_for('event.settings') }}">Events</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_wiki_admin() %}
                        <li>
                            <a href="{{ url_for('wiki.settings') }}">Wiki</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if current_user.is_anonymous %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% else %}
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user"></span> {{ current_user.username }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('user.profile', username=current_user.username) }}">Profile</a></li>
                        <li><a href="{{ url_for('user.settings') }}">Settings</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
    </div>
</nav>
{% endblock %}

{% include "simplemde_sidebar.html" %}

{% block content %}
<div class="big-wrapper">
    <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

        {% if category != "message" %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% else %}
            <div class="alert alert-info">No cat: {{ message }}</div>
        {% endif %}

        {% endfor %}
    {% endif %}
    {% endwith %}

    {% block app_content %}{% endblock %}
    </div>
</div>
{% endblock %}