{% extends "base.html" %}

{% block app_content %}
<h1>Changelog</h1>

<h2>0.4.4</h2>
<ul>
    <li>Statistics: make dict ordered, add missing statistics</li>
    <li>Forms: customize submit button label per form</li>
    <li>Session: add relevant journals to session.view</li>
    <li>Character: add character journals</li>
    <li>Wiki: add category renaming in settings</li>
    <li>Forms: add better redirects after create/edit</li>
    <li>User: add options for default media sidebar checkboxes</li>
    <li>Session: change next session button arrow location</li>
    <li>Requirements: Update SQLAlchemy due to 2 CVEs</li>
    <li>Template: reduce footer width</li>
    <li>Template: add new footer-func of auditMixin to pages</li>
    <li>db: add auditMixin to general settings</li>
    <li>Database: add SimpleAuditMixin</li>
    <li>Template: Fix markdown rendering in some templates</li>
</ul>

<h2>0.4.3</h2>
<ul>
    <li>Hotfix2 (added later):
        <ul>
            <li>Requirements: Fix jinja version (was reverted erroneously)</li>
        </ul>
    </li>
    <li>Hotfix (added later):
        <ul>
            <li>Requirements: Update Pillow due to CVE-2016-9189</li>
            <li>Requirements: add requirements for Flask-Misaka</li>
        </ul>
    </li>
    <li>(Experimental): Switch to on-server markdown rendering</li>
    <li>Template: show footer on all pages*</li>
    <li>All: add @decorators for access control</li>
    <li>Base: change priority of base url</li>
    <li>Session: allow session members to edit sessions</li>
    <li>Party: allow party members to edit party</li>
    <li>Template: add new-char link to character table</li>
    <li>requirements: increase Jinja2 version due to CVE-2019-10906</li>
    <li>Template: move delete buttons to the right</li>
    <li>User: add editor_height option</li>
    <li>Map: fix editor height for map forms</li>
    <li>Map: add node permalinks to popups</li>
    <li>Char/Party: Reverse order of tables</li>
    <li>Char/Party: Fix inpage navigation</li>
    <li>(hotfixed earlier) Base: fix editor sidebars</li>
</ul>

<h2>0.4.2</h2>
<ul>
    <li>Readme: add installation info</li>
    <li>Template: simplify admin nav bar</li>
    <li>Template: Clean up js helpers</li>
    <li>Template: harmonize js helper includes</li>
    <li>Character: add character deletion</li>
    <li>Party: add party deletion</li>
    <li>Session: add session deletion</li>
    <li>Wiki: add article deletion</li>
    <li>Event: add event deletion</li>
    <li>Event: Fix event edit page</li>
    <li>Char: change redirect after character edit</li>
    <li>Calendar: redirect admin on non-finalized calendar</li>
    <li>Template: Set height for markdown editor</li>
</ul>

<h2>0.4.1</h2>
<ul>
    <li>Base: add changelog and statistics pages</li>
    <li>User: Fix conditional data table on profile</li>
</ul>

<h2>0.4.0 'M-M-M-Multi-Map'</h2>
<ul>
    <li>Merge multi-map into master: add multi map support</li>
    <li>Map: remove unused import</li>
    <li>Map: Rename endpoints for clarity</li>
    <li>User: add conditional data table for characters</li>
    <li>Calendar: Format moon title attrs</li>
    <li>Map: add default_map setting</li>
    <li>Map: display map name in topright corner</li>
    <li>Map: improve wiki and submap links</li>
    <li>Map: implement submap linking for map nodes (admin)</li>
    <li>Map: implement map visibility option</li>
    <li>Map: implement multiple map operations</li>
    <li>Map: make nodes belong to one map only</li>
    <li>Map: add view endpoint for multi maps</li>
    <li>Map: add settings editing for multiple maps</li>
    <li>Map: add map.create for first map</li>
    <li>Map: Split MapSettings table</li>
    <li>Party/Session: refactor multi-select filtering</li>
    <li>Multi: add comments to helpers</li>
    <li>Doc: update readme and welcome message</li>
</ul>

<h2>0.3.4</h2>
<ul>
    <li>Template: add quicksearch feature for multi-select</li>
    <li>Map: make map check interval configurable</li>
    <li>Map: add warning if map was edited by someone else</li>
    <li>Character: make character and party list public</li>
    <li>Template: Fix two js include paths</li>
    <li>Media: Fix typo in settings</li>
    <li>Characters: Add datatables to char/party list</li>
    <li>Calendar/Event: improve moon title</li>
</ul>

<h2>0.3.3 'Luna'</h2>
<ul>
    <li>Models: replace xrange with range</li>
    <li>Calendar/Event: add moon colors</li>
    <li>Calendar/Event: even better moon display</li>
    <li>Base: Fix flask_bootstrap local CDN serve (weird)</li>
    <li>Calendar: add moon phase naming</li>
    <li>Calendar: improved moon display formula</li>
    <li>Calendar/Event: Add moon phase calculation</li>
    <li>Event: Fix css import</li>
    <li>Config: sort and add comments</li>
    <li>Templates: Fix various javascript errors</li>
    <li>Template: Fix editor sidebar with multiple editors</li>
    <li>Character: add private_notes field</li>
    <li>Template: Change CDN-usage settings handling</li>
    <li>DB: Fix migrations</li>
    <li>User: make roles visible on profile (to anyone)</li>
    <li>Calendar: add moons</li>
    <li>Settings: Add option to use CDN for scripts</li>
</ul>

<h2>0.3.2</h2>
<ul>
    <li>Wiki: fix str encoding error</li>
    <li>Event: add datatable for events</li>
    <li>Style: Restrict image width in markdown renderings</li>
    <li>Readme: add Media endpoint description</li>
    <li>Media: add media deletion</li>
    <li>Multi: add dataTables where necessary</li>
    <li>Media: add max filesize to upload page</li>
    <li>Wiki: Fix wiki dropdown, remove not needed helper</li>
</ul>

<h2>0.3.1</h2>
<ul>
    <li>Media: Fix visibility checkbox on media form</li>
    <li>Wiki: Fix sidebars</li>
    <li>Media: add custom 413 page</li>
    <li>Base: Fix setup</li>
</ul>

<h2>0.3.0</h2>
<ul>
    <li>Event: Fix event.view user links</li>
    <li>Map: Fix dropdown heights in map forms</li>
    <li>Event: Fix event.view permissions</li>
    <li>Media: Add Media blueprint</li>
    <li>Media: Add Media sidebar</li>
</ul>

<h2>0.2.2</h2>
<ul>
    <li>Admin: add last-seen to userlist</li>
    <li>Base: new password must differ from old password if force_pw is active</li>
    <li>Base: hide quicklinks for non-authed users</li>
    <li>Base: make topnav sticky</li>
    <li>Base: fix editor-sidebar and location-list height</li>
    <li>Base: add collapsible topnav for mobile users</li>
    <li>Base: clicking the red star icon again closes editor-sidebar</li>
    <li>Wiki: add article heading to markdown window (h1)</li>
    <li>Event: Fix event category dropdown height on Windows</li>
</ul>

<h2>0.2.1</h2>
<ul>
    <li>Event: Fix HTTP500 at event creation</li>
    <li>Base: Use dedicated password-change form for forced password </li>
</ul>
{% endblock %}