
<div class="row mt-5">
    <div class="col-sm-2"></div>
    <div class="col-xl-8" id="footer">
        version {{ get_archivar_version() }}
        {% if debug_mode %}
            <span class="text-danger">((DEV))</span>
        {% endif %}
        &bullet; <a href="{{ url_for('main.about') }}">About Archivar</a>
        &bullet; <a href="{{ url_for('main.changelog') }} ">Changelog</a>
        &bullet; <a href="{{ url_for('main.statistics') }}">Statistics</a>

        {% if debug_mode() %}
        &bullet; <a href="{{ url_for('main.debug_info') }}" class="text-danger">DebugInfo</a>
        {% endif %}
    </div>
    <div class="col-sm-2"></div>
</div>