{% extends "base.html" %}

{% block scripts %}
{{ super() }}

{% endblock %}

{% block app_content %}
{% if current_user.is_at_least_moderator() %}
    {{ navbar_start(no_margin=True) }}
        {{ button_nav(url=url_for('main.settings'), text="Edit Text", icon="edit") }}
    {{ navbar_end() }}
{% endif %}

{% if settings.welcome_page %}
{% if current_user.markdown_phb_style %}
    <div class="custom-markdown phb-style">
{% else %}
    <div>
{% endif %}
{{ settings.welcome_page|markdown }}
    </div>
{% endif %}
{% endblock %}