{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
    <h1>Install</h1>

    <p>
        Installation is quick and easy.
        During installation, the database will be initialized with some default values (user roles, base settings, ...).
        Your task is simply to enter credentials for the admin account.
        This account is special in a way, as its admin status can't be revoked by other admins - it is the ultimate account.
        You can also choose if some default-nodes for the map should be installed so serve as an example.
    </p>

    {{ wtf.render_form(form) }}
{% endblock %}