{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
{{ super() }}
{{ include_css(['simplemde']) }}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ include_js(['simplemde']) }}

<script>
{% include "simplemde.js" %}
var simplemde = new SimpleMDE(generateSMDEConfig("welcome_page"));

$("#quicklinks").attr("placeholder", "one link per line; format: url|title");
</script>
{% endblock %}

{% block app_content %}
    <h1>General settings</h1>

    <p>
        Here you can adjust some basic settings like the page title, the name of your world and the display text on the "Home" page.
        You can also add quicklinks to the top navigation.
        They are added one link per line in the format url|linktitle.
    </p>

    {{ wtf.quick_form(form) }}
{% endblock %}