{% if current_user.is_authenticated %}
<div class="sidebar" id="intref-sidebar">
    <a class="close-link-sidebar">
        {{ icon("remove") }}
    </a>
    <input type="text" id="filter_things" placeholder="filter" />
    <ul class="itemlist"></ul>
</div>

<div class="sidebar" id="media-sidebar">
    <a class="close-link-sidebar">
        {{ icon("remove") }}
    </a>
    <input type="text" id="filter_media" placeholder="filter" />

    {% if current_user.use_direct_links %}
    <input type="checkbox" id="use_direct_links" checked="checked" />
    {% else %}
    <input type="checkbox" id="use_direct_links" >
    {% endif %}
    <label for="use_direct_links">Use direct links</label> <br>

    {% if current_user.use_embedded_images %}
    <input type="checkbox" id="use_embedded_images" checked="checked" />
    {% else %}
    <input type="checkbox" id="use_embedded_images" />
    {% endif %}
    <label for="use_embedded_images">Embed images</label>

    <ul class="itemlist"></ul>
</div>

<div class="sidebar" id="map-sidebar">
    <a class="close-link-sidebar">
        {{ icon("remove") }}
    </a>
    <input type="text" id="filter_mapnodes" placeholder="filter" />
    <ul class="itemlist"></ul>
</div>
{% endif %}