{% extends "base.html" %}

{% block app_content %}

    <h1> user profile for {{ user.username }}</h1>
    {% if user == current_user or current_user.has_admin_role() %}
    <a href="{{ url_for('user_edit', username=user.username) }}" class="btn btn-default">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        edit profile
    </a>
    {% endif %}
    
    <hr>

    {% if user.about %}
    <p class="text">
        {{ user.about }}
    </p>
    {% endif %}

    Roles: <ul>

    {% for role in user.roles %}
    <li>{{ role.name }} ({{ role.description }})</li>
    {% endfor %}

    </ul>

{% endblock %}