{% extends "base.html" %}

{% block styles %}
{{ super() }}
{{ include_css(['datatables']) }}
{% endblock %}

{% block scripts %}
{{ super () }}
{{ include_js(['datatables', 'moment']) }}

<script>

$(document).ready(function() {
    makeDatatable("media-table", 25, 25);
});

</script>
{% endblock %}

{% block app_content %}
    <h1>Media

    {% if media %}
    ({{ media|length }})
    {% endif %}
    </h1>

    {{ navbar_start() }}
        {{ button_nav(url=url_for('media.upload'), text="Add File", icon="plus") }}

        {% if current_user.is_media_admin() %}
        {{ button_nav(url=url_for('media.settings'), text="Media Settings", icon="cog") }}
        {% endif %}
    {{ navbar_end() }}

    {% if media %}
    <table class="table table-hover table-striped" id="media-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Type</th>
                <th>Filename</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for item in media %}
            {% if item.is_visible %}
            <tr>
            {% else %}
            <tr class="invisible_item">
            {% endif %}
                <td>{{ item.name }}</td>
                <td>{{ item.category.view_link() }}</td>
                <td>{{ item.get_file_ext() }}</td>
                <td>{{ item.filename }}</td>
                <td>
                    {{ item.view_button() }}

                    {% if item.is_editable_by_user() %}
                    {{ item.edit_button() }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No media found.</p>
    {% endif %}
{% endblock %}