{% import 'bootstrap/utils.html' as utils %}

{{ utils.render_messages(dismissible=True, container=True) }}

<div class="row align-items-center">
    <div class="col text-center">
        {% if item.is_image() %}
        <figure class="figure">
            <img class="thumbnail img-thumbnail" src="{{ item.thumbnail_url() }}" />
            <figcaption class="figure-caption text-center">Thumbnail</figcaption>
        </figure>
        {% else %}
        <p class="figcaption">
            {{ icon(item.get_icon_str(), text_class="fa-big") }}
        </p>
        <p>
            {{ item.filename }}
        </p>
        {% endif %}
    </div>
</div>