{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block scripts %}
{{ super() }}

{{ include_js(['moment']) }}

{% if item.is_deletable_by_user() %}
<script>
$(document).ready(function() {
    $("#delete-link").click(function(e) {
        var p = confirm("Are you sure you want to delete '{{ item.name }}'?");

        if (!p) {
            e.preventDefault();
        }
    });
});
</script>
{% endif %}
{% endblock %}

{% block app_content %}
    <h1>{{ item.name }}</h1>

    {{ navbar_start() }}
        {% if item.is_editable_by_user() %}
            {{ item.edit_button_nav() }}
        {% endif %}

        {% if item.is_deletable_by_user() %}
            {{ item.delete_button_nav() }}
        {% endif %}
    {{ navbar_end() }}

    <div class="card p-3">
        <div class="row align-items-center">
            {% if item.is_image() %}
            <div class="col-sm-3 text-center">
                <figure class="figure">
                    <img class="thumbnail img-thumbnail" src="{{ item.thumbnail_url() }}" />
                    <figcaption class="figure-caption text-center">Thumbnail</figcaption>
                </figure>
            </div>
            {% endif %}
            <div class="col-md-9">
                <dl class="row ml-2">
                    <dt class="col-sm-2">Category</dt>
                    <dd class="col-sm-10">{{ item.category.view_link() }}</dd>
                    <dt class="col-sm-2">File name</dt>
                    <dd class="col-sm-10">{{ item.filename }}</dd>
                    <dt class="col-sm-2">File size</dt>
                    <dd class="col-sm-10">{{ item.filesize|filesizeformat(True) }} ({{ item.filesize }} Byte)</dd>
                    <dt class="col-sm-2">Direct link</dt>
                    <dd class="col-sm-10">{{ item.serve_link() }}</dd>
                </dl>
            </div>
        </div>
    </div>

    {% if item.is_image() %}
    <hr>

    <img src="{{ url_for('media.serve_file', filename=item.filename) }}" id="preview_image" />

    {% endif %}

    {{ item.print_info() }}
{% endblock %}